$color-steps: 15, 30, 45, 60, 75;

@mixin color-steps($steps, $colorName, $baseColor, $mixColor: white, $type: 'light') {
  @each $step in $steps {
    $i: index($steps, $step);
    $background-color: mix($baseColor, $mixColor, (100 - $step));
    .#{$colorName}--#{$type}#{$i} {
      background: $background-color;
    }
  }
}

@include color-steps($color-steps, 'primary', #00237e);
@include color-steps($color-steps, 'primary', #00237e, black, 'dark');

.color-swatches {
  margin-bottom: 2em;
}

.color-swatches-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.85rem 0.85rem;
  text-align: left;
  font-size: 0.85em;
}

.color-swatches-swatch {
  width: 140px;
  height: 140px;
  margin-bottom: 0.5rem;
}

.color-swatches-name,
.color-swatches-hex,
.color-swatches-cmyk {
  display: block;
}
