@import 'vendor/bower/accoutrement-color/color';
@import './node_modules/@casper/nightshade-styles/base/colors_config';

@mixin color-steps($steps, $colorName, $mixColor: white, $type: 'light') {
  @each $step in $steps {
    $i: index($steps, $step);
    $background-color: mix(color($colorName), $mixColor, (100 - $step));
    .#{$colorName}--#{$type}#{$i} {
      background: $background-color;
    }
  }
}

$gray-steps: 0, 15, 25, 50, 60, 70, 75, 85, 91, 95;
@include color-steps($gray-steps, 'base-gray');


@include color-steps((0, 30, 65), 'primary', #0b153c, 'dark');
@include color-steps((0, 25, 50), 'light-blue', #a7e4ea, 'dark');
@include color-steps((0, 45, 85), 'secondary', #6ee8c4, 'dark');
@include color-steps((0, 85, 95), 'accent', #ec5446, 'dark');

.color-swatches {
  margin-bottom: 2em;
}

.color-swatches-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.85rem 0.85rem;
  text-align: left;
  font-size: 0.85em;
}

.color-swatches-swatch {
  width: 140px;
  height: 140px;
  margin-bottom: 0.5rem;
}

.color-swatches-name,
.color-swatches-hex,
.color-swatches-cmyk {
  display: block;
}
