// New fonts for Type Studies
@font-face {
  font-family: 'Apercu Light';
  src: url('../fonts/apercu-light.otf') format('opentype');
}
@font-face {
  font-family: 'Apercu Medium';
  src: url('../fonts/apercu-medium.otf') format('opentype');
}
@font-face {
  font-family: 'Apercu Regular';
  src: url('../fonts/apercu-regular.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Demi';
  src: url('../fonts/avenirnext-demi.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../fonts/avenirnext-medium.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../fonts/avenirnext-regular.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Light';
  src: url('../fonts/brandon-light.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Medium';
  src: url('../fonts/brandon-medium.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Regular';
  src: url('../fonts/brandon-regular.otf') format('opentype');
}
@font-face {
  font-family: 'Calibre Light';
  src: url('../fonts/calibre-light.otf') format('opentype');
}
@font-face {
  font-family: 'Calibre Regular';
  src: url('../fonts/calibre-regular.otf') format('opentype');
}
@font-face {
  font-family: 'Calibre Medium';
  src: url('../fonts/calibre-medium.otf') format('opentype');
}
@font-face {
  font-family: 'Nobel Light';
  src: url('../fonts/nobel-light.otf') format('opentype');
}
@font-face {
  font-family: 'Nobel Regular';
  src: url('../fonts/nobel-regular.otf') format('opentype');
}
