// Core config and helpers
@import './node_modules/@casper/nightshade-core/src/core_imports';

// Module specific IE9 styles
@import './node_modules/@casper/nightshade-core/src/blocks/ie_styles';
@import './node_modules/@casper/nightshade-core/src/callout/ie_styles';
@import './node_modules/@casper/nightshade-core/src/content_panel/ie_styles';
@import './node_modules/@casper/nightshade-core/src/footer/ie_styles';
@import './node_modules/@casper/nightshade-core/src/hero/ie_styles';
@import './node_modules/@casper/nightshade-core/src/press_quote/ie_styles';

// IE9 styles for Credibility Landing
.landing-nav {
  font-size: 0;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  font-size: ms(0);
}
