@import 'modular_scale';
@import 'core_imports';

// Files to build simple site page
@import './node_modules/@casper/nightshade-core/src/banners/cta_banner';
@import './node_modules/@casper/nightshade-core/src/layout/props';
@import './node_modules/@casper/nightshade-core/src/ratings_stars/index';

// TODO: move $trial-blue to backgrounds, or global map?
@import './node_modules/@casper/nightshade-core/src/trial_warranty/config';

.container {
  padding-top: 0 !important; // Update when we revise/remove regions
}

.credibility-landing {

  .landing-header {
    position: relative;
  }

  .hero--featured {
    background-position: center bottom;
  }

  .hero-heading {
    max-width: 13em;
    color: color(primary);

    @include respond-at-and-above($break-small) {
      max-width: 16em;
      font-size: ms(4);
    }

    @include respond-at-and-above($break-large) {
      max-width: 24em;
    }

    @include respond-at-and-above($break-xl) {
      font-size: ms(5);
    }
  }

  .landing-nav {
    background: color(light-background);
    border-bottom: 1px solid color(border);
    line-height: 1.2;

    @include respond-below($break-medium) {
      display: none;
    }

    &.is-sticky {
      position: fixed;
      z-index: 10;
      width: 100%;
      top: 0;
    }
  }

  .nav-inner {
    display: flex;
    justify-content: center;
    padding: ms(1) 0;
    text-align: center;
  }

  .nav-item {
    display: flex;
    align-items: center;
    width: 25%;
    border-right: 1px solid color(medium-border);

    &:first-child {
      border-left: 1px solid color(medium-border);
    }
  }

  .nav-link {
    width: 100%;
    padding: 0 ms(3);
    color: color(text);

    &:hover {
      color: color(dark-text);
    }
  }

  .nav-link-text {
    display: inline-block;
    max-width: 8em;
  }

  .block-item-description {

    .source {
      display: block;
    }
  }
}

.content-panel-image img {

  @include respond-between($break-mobile, $break-medium) {
    .content-panel--engineering & {
      margin-top: -7vw;
    }

    .content-panel--reviews & {
      margin-top: 0;
    }
  }
}

.callout--awards {
  padding: ms(10) ms(2);

  .callout-heading {
    margin-bottom: ms(8);
  }

  .block-item--time .block-item-image {

    @include respond-below($break-medium - 1) {
      margin-bottom: ms(-1);
    }
  }

  .block-item-image {
    width: 100px;
    height: 80px;
    fill: color(gray);
  }

  .block-item-description {
    max-width: none;
  }
}

.callout--convenience {

  .icon {
    fill: color($trial-blue);
  }
}

.landing-footer {
  padding: ms(3) 0;
  text-align: center;

  [data-icon] {
    margin-bottom: ms(5);
    fill: color(background);
  }

  h2,
  h3 {
    font-size: ms(2);
    margin-bottom: ms(-3);
  }
}
