@import 'vendor/bower/accoutrement-a11y/a11y';
@import 'vendor/bower/accoutrement-color/color';
@import 'vendor/bower/accoutrement-pseudo/pseudo-elements';
@import 'vendor/bower/susy/susy';

@import './node_modules/nightshade-styles/plugins/positioning';
@import './node_modules/nightshade-styles/plugins/z-index';
@import './node_modules/nightshade-styles/plugins/queries_config';
@import './node_modules/nightshade-styles/plugins/visual_utilities';
@import './node_modules/nightshade-styles/plugins/animations';
@import './node_modules/nightshade-styles/plugins/arrows_config';

@import './node_modules/nightshade-styles/base/z-index_config';
@import './node_modules/nightshade-styles/base/breakpoints_config';
@import './node_modules/nightshade-styles/base/sizing_config';
@import './node_modules/nightshade-styles/base/fonts_config';
@import './node_modules/nightshade-styles/base/colors_config';
@import './node_modules/nightshade-styles/base/typography/bundle';
@import './node_modules/nightshade-styles/base/typography';
@import './node_modules/nightshade-styles/base/grids';
@import './node_modules/nightshade-styles/base/base';

// Type Studies styles
@import './node_modules/nightshade-styles/modules/buttons';
@import './node_modules/nightshade-styles/modules/forms/forms';
@import './node_modules/nightshade-styles/modules/layout/bundle';
@import './node_modules/nightshade-styles/modules/home/bundle';
@import './node_modules/nightshade-styles/modules/products/shared';
@import './node_modules/nightshade-styles/modules/products/add_to_cart';
@import './node_modules/nightshade-styles/modules/products/purchase';
@import './node_modules/nightshade-styles/modules/products/specs';
@import './node_modules/nightshade-styles/modules/products/mattress/bundle';
@import './node_modules/nightshade-styles/modules/reviews/review';
@import './node_modules/nightshade-styles/modules/pages/legal';

.type-heading {
  padding-bottom: 0.5em;
  border-bottom: 1px solid color(border);
}

.type-study {
  margin: 3em 0 6em;
}

// Style resets
.container {
  padding-top: 0;
}

.sandwich__text {
  transform: none;
  width: auto;
  max-width: 900px;
  margin: 0 auto;

  p {
    font-size: 2em;

    .homepage-module & {
      margin-bottom: 2.5rem;
      font-size: 1.5rem;
    }
  }

  .btn:not(:last-child) {
    margin-right: 20px;
  }
}

.add-to-cart {
  position: static;

  .r-section-wrapper {
    padding: 0 23px;
  }
}

.add-to-cart-inner {
  margin: 0 auto;
}

.design-value-prop--fibers-copy-block,
.product-prop-info {
  width: auto;
  max-width: 425px;
  margin: 0 auto;
  padding-left: 0;
}

.sheets-infographic-option-copy {
  display: inline-block;
  max-width: 248px;
}

.review-details-wrapper {
  width: auto;
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  float: none;
}

.legal-section {
  padding: 0;
}

.tech-specs-section-copy {
  width: auto;
}

.form-fieldset {
  width: auto;
  max-width: 620px;
  margin: 0 auto;
}
