{% extends "layout/pattern.html" %}

{% set data = {
  name: "Buttons",
  description: "A Button clearly communicates what action will occur when the user touches it.",
  variants: [
    {
      name: "Primary",
      example: "{{ button('Primary Button') }}",
      html: '<button type="button" data-button="primary">Primary Button</button>',
      rules: ['Rules on usage and limitations'],
      tech_notes: ['Tech notes on implementation'],
      stylesheet_import: {
        path: "modules/buttons/_base.scss",
        code: "@import './node_modules/@casper/nightshade-core/modules/buttons/base';"
      },
      macro_import: {
        path: "modules/buttons/macros.html",
        code: "{% from 'nightshade-core/modules/buttons/macros.html' import button %}"
      }
    },
    {
      name: "Secondary",
      example: "{{ button('Secondary Button', style='secondary') }}",
      html: '<button type="button" data-button="secondary">Secondary Button</button>'
    },
    {
      name: "Accent",
      example: "{{ button('Accent Button', style='accent') }}",
      html: '<button type="button" data-button="accent">Accent Button</button>'
    },
    {
      name: "Ghost",
      example: "{{ button('Ghost Button', style='ghost') }}",
      html: '<button type="button" data-button="ghost">Ghost Button</button>'
    },
    {
      name: "Icon with Type",
      example: "{{ button('Live Chat', icon='speechbubble') }}",
      html: '<button type="button" data-button="primary">
  <span data-icon="speechbubble" data-size="default">
    <svg class="icon" aria-labelledby="title" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/node_modules/@casper/nightshade-icons/dist/storefront/sprite.symbol.svg#speechbubble"></use>
    </svg>
  </span>
  Live Chat
</button>'
    },
    {
      name: "Loading",
      example: "{{ button('Loading Button', class='is-loading') }}",
      html: '<button type="button" data-button="primary" class="is-loading">Loading Button</button>'
    },
    {
      name: "Modifiers",
      example: "",
      html: ''
    }
  ]
  }
%}
