{% extends "layout/_pattern_layout.html" %}

{% set data = {
  name: "Buttons",
  description: "A button indicates what action will take place once selected by user. Button variants are broken up by color and size.
",
  variants: [
    {
      name: "Primary",
      description: "A rectangular button with rounded corners set in primary blue color. Primary buttons are most commonly used throughout our site to emphasize call to actions.",
      macro: "{{ button('Primary Button') }}",
      html: '<button type="button" data-button="primary">Primary Button</button>',
      rules: {
        list: {
          typography: "Text is set in H4 style with white text. Try to keep character count under 16.",
          specs: "Button height is 48px for all devices. Padding to left and right of text is 40px for desktop and 24px for mobile.",
          color: "Button fill is Primary-Blue. Background color is white or gray no darker than Gray7."
        },
        examples: [
          {
            html: '<button type="button" data-button="primary" class="body--serif">Primary Button</button>',
            description: "Never use Chronicle or Calibre. Copy should not run into two lines. This applies for all buttons."
          },
          {
            html: '<button type="button" data-button="primary" class="gray">Primary Button</button>',
            description: "Other text or background color will not be fully color accessible. This applies for all buttons."
          }
        ]
      },
      tech_notes: [
        '<code>text</code> (required) - Text content of button, or call to action',
        '<code>style</code> - Button variant style, defaults to <em>primary</em>',
        '<code>size</code> - Button size modifier, accepts values <em>full</em> and/or <em>small</em>',
        '<code>type</code> - Defaults to <em>button</em>, but can also be type <em>link</em> in which case an <code>href</code> must be specified',
        '<code>href</code> - Path for <em>link</em> type buttons',
        '<code>icon</code> - Icon name for buttons with icons',
        '<code>class</code> - Custom CSS or JavaScript class selector',
        '<code>id</code> - Custom JavaScript ID selector'
      ],
      stylesheet_import: {
        path: "src/buttons/_base.scss",
        code: "@import './node_modules/@casper/nightshade-core/src/buttons/base';"
      },
      macro_import: {
        path: "src/buttons/buttons.macros.html",
        code: "{% from 'nightshade-core/src/buttons/buttons.macros.html' import button %}"
      }
    },
    {
      name: "Secondary",
      description: "Short description of type of button, what hex color to use and when to use.",
      macro: "{{ button('Secondary Button', style='secondary') }}",
      html: '<button type="button" data-button="secondary">Secondary Button</button>'
    },
    {
      name: "Accent",
      description: "A rectangular button with rounded corners set in accent red color. Accent buttons are used very sparingly and typically used to signify checkout/purchase.",
      macro: "{{ button('Accent Button', style='accent') }}",
      html: '<button type="button" data-button="accent">Accent Button</button>',
      rules: {
        list: {
          typography: "Text is set in H4 style with white text. Try to keep character count under 16.",
          specs: "Button height is 48px for all devices. Padding to left and right of text is 40px for desktop and 24px for mobile.",
          color: "Button fill is Accent. Background color is white or gray no darker than Gray8."
        }
      }
    },
    {
      name: "Ghost",
      description: "A rectangular button with rounded corners and no fill. Ghost buttons can be used when too many call to actions are present on page or if intention is to appear less prominent on page.",
      macro: "{{ button('Ghost Button', style='ghost') }}",
      html: '<button type="button" data-button="ghost">Ghost Button</button>',
      rules: {
        list: {
          typography: "Text is set in H4 style with Gray1 text. Try to keep character count under 16.",
          specs: "Button height is 48px for all devices. Padding to left and right of text is 40px for desktop and 24px for mobile.",
          color: "If background color is white or Gray 9, button stroke is Gray5. If background color is Gray8, button stroke is Gray4."
        }
      }
    },
    {
      name: "Icons",
      description: "A primary button with an icon. Icon is always outlined with white stroke and positioned to the left of copy. ",
      macro: "{{ button('Live Chat', icon='speechbubble') }}",
      html: '<button type="button" data-button="primary">
  <span data-icon="speechbubble" data-size="default">
    <svg class="icon" aria-labelledby="title" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/node_modules/@casper/nightshade-icons/dist/storefront/sprite.symbol.svg#speechbubble"></use>
    </svg>
  </span>
  Live Chat
</button>',
      rules: {
        list: {
          typography: "Text is set in H4 style with white text. Try to keep character count under 12.",
          specs: "Button height is 65px for all devices. Button becomes full width for mobile.",
          color: "Button height is 65px for all devices. Button becomes full width for mobile."
        }
      }
    },
    {
      name: "Play",
      description: "A ghost button with a play icon positioned to the left of copy. Will usually direct user to new page.",
      macro: "{{ button('Play Button', style='play') }}",
      html: '<button type="button" data-button="play">Play Button</button>',
      rules: {
        list: {
          typography: "Text is set in H4 style with primary text. Try to keep character count under 18.",
          specs: "Button height is 56px for all devices.",
          color: "The stoke outline is Gray5 with Gray9 fill. Background color behind button is white or gray no darker than Gray8."
        }
      }
    },
    {
      name: "Modifiers",
      modifiers: [
        {
          name: 'Full Width',
          description: "Short description of type of button, what hex color to use and when to use.",
          macro: "{{ button('Primary Button (Full Width)', size='full') }}",
          html: '<button type="button" data-button="primary" data-size="full">Primary Button (Full Width)</button>'
        },
        {
          name: 'Small Size',
          description: "Short description of type of button, what hex color to use and when to use.",
          macro: "{{ button('Primary Button (Small)', size='small') }}",
          html: '<button type="button" data-button="primary" data-size="small">Primary Button (Small)</button>'
        }
      ]
    }
  ]
  }
%}
