{% extends "layout/pattern.html" %}

{% set data = {
  name: "Buttons",
  description: "A Button clearly communicates what action will occur when the user touches it.",
  variants: [
    {
      name: "Primary",
      description: "Short description of type of button, what hex color to use and when to use.",
      macro: "{{ button('Primary Button') }}",
      html: '<button type="button" data-button="primary">Primary Button</button>',
      rules: [
        {
          do: {
            example: '<button type="button" data-button="primary">Primary Button</button>',
            description: "Always use Verlag Black in “typestyle name”. This applies for all buttons."
          },
          dont: {
            example: '<button type="button" data-button="primary" style="font-family: Calibre Light">Primary Button</button>',
            description: "Never use Chronicle or Calibre. This applies for all buttons."
          }
        },
        {
          do: {
            example: '<button type="button" data-button="primary">Primary Button</button>',
            description: "Character count is XX or below. This applies for all buttons."
          },
          dont: {
            example: '<button type="button" data-button="primary">Primary Button Copy<br> Runs Into Two Lines</button>',
            description: "Copy should not run into two lines."
          }
        }
      ],
      tech_notes: [
        "<code>text</code> (required) - Text content of button, or call to action",
        "<code>style</code> - Button variant style, defaults to <em>primary</em>",
        "<code>size</code> - Button size modifier",
        "<code>type</code> - Defaults to <em>button</em>, but can also be type <em>link</em> in which case an <code>href</code> must be specified",
        "<code>href</code> - Path for <em>link</em> type buttons",
        "<code>icon</code> - Icon name for buttons with icons",
        "<code>class</code> - Custom CSS or JavaScript class selector",
        "<code>id</code> - Custom JavaScript ID selector"
      ],
      stylesheet_import: {
        path: "modules/buttons/_base.scss",
        code: "@import './node_modules/@casper/nightshade-core/modules/buttons/base';"
      },
      macro_import: {
        path: "modules/buttons/buttons.macros.html",
        code: "{% from 'nightshade-core/modules/buttons/buttons.macros.html' import button %}"
      }
    },
    {
      name: "Secondary",
      description: "Short description of type of button, what hex color to use and when to use.",
      macro: "{{ button('Secondary Button', style='secondary') }}",
      html: '<button type="button" data-button="secondary">Secondary Button</button>'
    },
    {
      name: "Accent",
      description: "Short description of type of button, what hex color to use and when to use.",
      macro: "{{ button('Accent Button', style='accent') }}",
      html: '<button type="button" data-button="accent">Accent Button</button>'
    },
    {
      name: "Ghost",
      description: "Short description of type of button, what hex color to use and when to use.",
      macro: "{{ button('Ghost Button', style='ghost') }}",
      html: '<button type="button" data-button="ghost">Ghost Button</button>'
    },
    {
      name: "Icons",
      description: "Short description of type of button, what hex color to use and when to use.",
      macro: "{{ button('Live Chat', icon='speechbubble') }}",
      html: '<button type="button" data-button="primary">
  <span data-icon="speechbubble" data-size="default">
    <svg class="icon" aria-labelledby="title" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/node_modules/@casper/nightshade-icons/dist/storefront/sprite.symbol.svg#speechbubble"></use>
    </svg>
  </span>
  Live Chat
</button>'
    },
    {
      name: "Play",
      description: "Short description of type of button, what hex color to use and when to use.",
      macro: "{{ button('Play Button', style='play') }}",
      html: '<button type="button" data-button="play">Play Button</button>'
    },
    {
      name: "Modifiers",
      modifiers: [
        {
          name: 'Full Width',
          description: "Short description of type of button, what hex color to use and when to use.",
          macro: "{{ button('Primary Button (Full Width)', size='full') }}",
          html: '<button type="button" data-button="primary" data-size="full">Primary Button (Full Width)</button>'
        },
        {
          name: 'Small Size',
          description: "Short description of type of button, what hex color to use and when to use.",
          macro: "{{ button('Primary Button (Small)', size='small') }}",
          html: '<button type="button" data-button="primary" data-size="small">Primary Button (Small)</button>'
        }
      ]
    }
  ]
  }
%}
