{% extends "layout/_pattern.html" %}

{% from 'nightshade-core/src/popovers/popovers.macros.html' import popover %}

{% set page_title = 'Popovers' %}

{% block page_styles %}
<style>
  .popover-example {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 3em 0;
  }
  .popover-toggle {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #d9d9d9;
    color: #6a6a6a;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 0.833rem;
  }
</style>
{% endblock %}

{% block pattern_content %}
<div class="popover-example">
  Top
  <span class="popover-container js-popover-container">
    <span class="popover-toggle js-popover-toggle">?</span>
    {{ popover('top', 'Density refers to the amount of material per cubic foot. High-density materials are more durable.', 'js-popover') }}
  </span>
</div>
<div class="popover-example">
  Right
  <span class="popover-container js-popover-container">
    <span class="popover-toggle js-popover-toggle">?</span>
    {{ popover('right', 'Density refers to the amount of material per cubic foot. High-density materials are more durable.', 'js-popover') }}
  </span>
</div>
<div class="popover-example">
  Bottom
  <span class="popover-container js-popover-container">
    <span class="popover-toggle js-popover-toggle">?</span>
    {{ popover('bottom', 'Density refers to the amount of material per cubic foot. High-density materials are more durable.', 'js-popover') }}
  </span>
</div>
<div class="popover-example">
  Left
  <span class="popover-container js-popover-container">
    <span class="popover-toggle js-popover-toggle">?</span>
    {{ popover('left', 'Density refers to the amount of material per cubic foot. High-density materials are more durable.', 'js-popover') }}
  </span>
</div>
{% endblock %}

{% block module_loader %}
  System.import('views/popovers/PopoversPage.js').then( function(mod) {
    mod.PopoversPage.init();
  } );
{% endblock %}
