.container {
  padding-top: 3.5rem !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nightshade-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: ms(0) ms(1) ms(0) ms(7);
  background: color(medium-background);

  @include respond-at-and-above($break-mobile) {
    padding-right: size(large);
  }

  .logo {
    float: left;
    font-size: 1.3rem; // custom val move to variable TODO
    margin-bottom: 0;

    a {
      color: color(text);
    }
  }
}

.nightshade-content {
  flex: 1;
}

.nightshade-footer {
  font-size: ms(-1);
  background: color(light-background);
  padding: ms(0) ms(1) 0;
}


.link-arrow {
  &:hover {
    .icon-arrow {
      transform: translateX(3px);
    }
  }

  .icon-arrow {
    @include circle(8px, border);
    box-sizing: content-box;
    position: relative;
    margin-left: 3px;
    padding: 6px;
    fill: color(text);
    transition: transform 0.15s ease-out;
  }
}
