.container {
  padding-top: 4rem !important;
}

p {
  margin-bottom: 1.4em;
}

.nightshade-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: size(small) size(normal) size(small) 4.5rem;

  @include respond-at-and-above($break-mobile) {
    padding-right: size(large);
  }

  h1 {
    float: left;
    font-family: "Calibre Light";
    font-weight: 400;
    font-size: ms(2);
    text-transform: none;
    letter-spacing: size(smaller-tracking);
    margin-bottom: 0;

    a {
      color: color(text);
    }
  }
}

// Mobile menu icon
.menu-trigger {
  @include square(30px);

  cursor: pointer;
  top: 18px;
  left: 20px;
  position: absolute;
  display: block;

  .is-open & {
    padding: 0 2px;
  }
}

.menu-trigger-icon {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: color(#505050); // Use new $gray

  @include before() {
    width: 100%;
    height: 100%;
    left: 0;
    background: color(#505050); // Use new $gray
    transform: translateY(-8px);
  }

  @include after() {
    width: 100%;
    height: 100%;
    left: 0;
    background: color(#505050); // Use new $gray
    transform: translateY(8px);
  }
}

.toggle-background {
  float: right;

  @include respond-below($break-small) {
    display: none;
  }
}

.background-gray {
  background: color(light-background);
}

.nav--main {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: ms(1);
  background: color(#505050); // Use new $gray
  color: #fff;
  transition: transform 0.2s ease-out;

  &.is-invisible {
    transform: translateX(-100%);
  }

  .section-heading {
    font-family: "Calibre Light";
    font-weight: 400;
    font-size: ms(1);
    text-transform: none;
    letter-spacing: size(smaller-tracking);
    margin-bottom: ms(-3);
  }

  .nav-link {
    display: block;
    color: color(#b9b9b9); // Use new $gray--light4

    &:hover {
      color: color(secondary);
    }

    .touch & {
      padding: ms(-6) 0;
    }
  }
}

.nav--study {
  margin-bottom: ms(2);
}

.link-arrow {

  &:hover {
    .icon-arrow {
      transform: translateX(3px);
    }
  }

  .icon-arrow {
    @include circle(8px, border);
    box-sizing: content-box;
    position: relative;
    margin-left: 3px;
    padding: 6px;
    fill: color(text);
    transition: transform 0.15s ease-out;
  }
}

.home-blurb {
  max-width: 40em;
  font-size: ms(1);
}
