.home-blurb {
  @include margin-auto;
  max-width: 33em;
  font-size: ms(1);

  @include respond-at-and-above($break-medium) {
    max-width: 28em;
  }

  @include respond-at-and-above($break-large) {
    max-width: 33em;
  }
}

.home-blurb-intro {
  font-size: ms(3);
}
