.r-content {
  padding: ms(6) ms(2) ms(4);

  @include respond-at-and-above($break-medium) {
    padding: ms(8) ms(4) ms(4);
  }

   @include respond-at-and-above($break-large) {
    padding: ms(10) ms(4) ms(4);
  }

}
