/**
 * @file Nav
 * @module Styleguide
 * @overview Nav sidebar styles
 */

.nav-main {
  position: fixed;
  z-index: 2; // @todo use zindex layer value
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  background: color(gray);
  color: color(background);
  transition: transform 0.2s ease-out;
  overflow-y: auto;

  &.is-invisible,
  &.is-retracted {
    transform: translateX(-100%);
  }

  .nav-link {
    display: block;
    padding: ms(-7) 0;
    color: color(gray--light5);

    &:hover {
      color: color(secondary);
    }

    .touch & {
      padding: ms(-5) 0;
    }
  }
}

.nav-header {
  display: flex;
  align-items: center;
  padding: ms(0) 0 ms(0);
  margin: 0 ms(1) 0;
  border-bottom: 1px solid color(gray--light2);
}

.nav-header-title {
  margin-bottom: 0;
  font-size: 1.3rem; // custom val move to variable TODO
}

.nav-links {
  padding: ms(3) ms(1);
}

.nav-section {
  margin-bottom: ms(3);
}

.nav-section-heading {
  @extend %calibre-medium;
  display: block;
  font-size: ms(0);
  letter-spacing: size(smaller-tracking);
  margin-bottom: ms(-3);
}

.nav-close {
  @include square(48px);
  position: absolute;
  top: 6px;
  right: 6px;

  .menu-trigger-icon {
    background-color: transparent;

    &:before,
    &:after {
      @include square(90%);
      background-color: color(gray--light3);
    }

    &:before {
      transform: translateY(0) rotate(45deg);
    }

    &:after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

// Mobile menu icon
.menu-trigger {
  @include square(48px);
  position: absolute;
  top: 5px;
  left: 6px;
}

.menu-trigger-icon {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  margin: 0 14px;
  top: 50%;
  transform: translateY(-50%);
  background-color: color(gray--light1);

  @include before() {
    @include square(100%);
    left: 0;
    background-color: color(gray--light1);
    transform: translateY(-6px);
  }

  @include after() {
    @include square(100%);
    left: 0;
    background-color: color(gray--light1);
    transform: translateY(6px);
  }
}
