.nav--main {
  position: fixed;
  z-index: 2; // @todo use zindex layer value
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  background: color(gray);
  color: color(background);
  transition: transform 0.2s ease-out;
  overflow-y: auto;

  &.is-invisible,
  &.is-retracted {
    transform: translateX(-100%);
  }

  .nav-link {
    display: block;
    padding: ms(-7) 0;
    color: color(gray--light5);

    &:hover {
      color: color(secondary);
    }

    .touch & {
      padding: ms(-5) 0;
    }
  }
}

.nav-header {
  display: flex;
  font-family: "Calibre Light";
  font-weight: 400;
  font-size: ms(1);
  text-transform: none;
  letter-spacing: size(smaller-tracking);
  padding-bottom: ms(-1);
  align-items: center;
  border-bottom: 1px solid color(gray--light2);
  margin: 0 ms(1) 0;
  padding: ms(0) 0 ms(0);
}

.nav-links {
  padding: ms(3) ms(1);
}

.nav-section {
  margin-bottom: ms(3);
}

.nav-section-heading {
  display: block;
  font-family: "Calibre Light";
  font-weight: 600;
  font-size: ms(0);
  text-transform: none;
  letter-spacing: size(smaller-tracking);
  margin-bottom: ms(-3);
}

.nav-close {
  @include square(48px);
  position: absolute;
  top: 6px;
  right: 6px;

  .menu-trigger-icon {
    background-color: transparent;

    &:before,
    &:after {
      @include square(90%);
      background-color: color(gray--light3);
    }

    &:before {
      transform: translateY(0) rotate(45deg);
    }

    &:after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

// Mobile menu icon
.menu-trigger {
  @include square(48px);
  position: absolute;
  top: 5px;
  left: 6px;
}

.menu-trigger-icon {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  margin: 0 14px;
  top: 50%;
  transform: translateY(-50%);
  background-color: color(#6a6a6a); // Use new $gray

  @include before() {
    @include square(100%);
    left: 0;
    background: color(#6a6a6a); // Use new $gray
    transform: translateY(-6px);
  }

  @include after() {
    @include square(100%);
    left: 0;
    background: color(#6a6a6a); // Use new $gray
    transform: translateY(6px);
  }
}
