/**
 * @file Typography
 * @module Styleguide
 * @overview Heading and type styles
 */

.heading--primary-light,
.heading--secondary-light,
.heading--tertiary-light,
.heading--smallcaps-light {
  @extend %calibre-light; // replace with font mixin TODO
  text-transform: none;
  line-height: 1.2;
  letter-spacing: size(smaller-tracking);
  margin-top: 0;
  margin-bottom: ms(-6);
}

.heading--primary-light {
  font-size: ms(5);
}

.heading--secondary-light {
  font-size: ms(3);
}

.heading--tertiary-light {
  font-size: ms(2);
}

.heading--smallcaps-light {
  @extend %calibre-medium;
  font-size: ms(0);
  text-transform: uppercase;
  letter-spacing: size(normal-tracking);
}

p {
  // This is to maintain vertical rhythm and ensure paragraph margins are
  // equivalent to one line-height at any font-size
  margin-bottom: 1.4em;
}
