.social-links {
  padding: ms(-2) 0;
  line-height: 1;
}

.social-link {
  display: inline-block;
  fill: color(background);
  transition: opacity 0.2s ease;

  &:not(:last-child) {
    margin-right: ms(-1);
  }

  &:hover {
    opacity: 0.7;
  }

  [data-icon] {
    @include square(20px);
  }
}
