@import './node_modules/@casper/nightshade-styles/modules/color/config';
@import './node_modules/@casper/nightshade-styles/modules/color/color_steps';

$stacks: map-get($colors, 'stacks');


// Generate classes for colors in map
@each $name, $color in $colors {
  @if $name != 'stacks' {
    .#{$name} {
      background: color($color);
    }
  }
}

// Generate classes for color stacks
@each $baseColor, $options in $stacks {
  $mixColor: map-get($options, 'mixColor');
  $steps: map-get($options, 'steps');

  @include color-steps($steps, $baseColor, $mixColor);
}
