{% extends "layout/_pattern_layout.html" %}

{% from 'nightshade-core/src/hero/hero.macros.html' import hero %}

{% set data = en.hero %}

{% block pattern_content %}

  {% call hero(
    'A Life Well Slept',
    content='The Perfect Mattress, Sheets, and Pillow for Everyone',
    background_path='banner/help-topbanner.jpg'
  ) %}{% endcall %}

  {% call hero('Hero With Caller Block', class='light-background') %}
    {{ button('Hero CTA', style='secondary') }}
  {% endcall %}

  {% call hero(
    'A Life Well Slept',
    content='The Perfect Mattress, Sheets, and Pillow for Everyone',
    background_path='home/sandwich/casper-hero-lifestyle.jpg',
    featured=true
  ) %}{% endcall %}

{% endblock %}
