{% extends "layout/_pattern_layout.html" %}

{% from 'nightshade-core/src/hero/hero.macros.html' import hero %}

{% set page_title = 'Hero' %}

{% block pattern_content %}

  {{ hero(
    'A Life Well Slept',
    content='The Perfect Mattress, Sheets, and Pillow for Everyone',
    image_path='banner/help-topbanner.jpg'
  ) }}

  {{ hero(
    'A Life Well Slept',
    content='The Perfect Mattress, Sheets, and Pillow for Everyone',
    images={
      largest: 'home/sandwich/casper-hero-lifestyle.jpg',
      large: 'home/sandwich/casper-hero-lifestyle.jpg',
      small: 'home/sandwich/casper-hero-lifestyle.jpg',
      mobile: 'home/sandwich/casper-hero-lifestyle.jpg' },
    featured=true
  ) }}

{% endblock %}
