{% extends "./pattern.html" %}

{% from 'nightshade-core/src/tooltips/tooltips.macros.html' import tooltip %}

{% set pattern_name = 'Tooltips' %}
{% set wrapper_classes = 'r-centered' %}

{% block page_styles %}
<style>
  .tooltip-example {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 3em 0;
  }
  .tooltip-toggle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #666;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    cursor: default;
  }
</style>
{% endblock %}

{% block pattern_content %}
<h2>Tooltips</h2>
<div class="tooltip-example">
  Tooltip Example
  <span class="tooltip-container js-tooltip-container">
    <span class="tooltip-toggle js-tooltip-toggle">?</span>
    {{ tooltip('Verified Casper Owner', 'js-tooltip') }}
  </span>
</div>
{% endblock %}

{% block module_loader %}
  System.import('views/tooltips/TooltipsPage.js').then( function(mod) {
    mod.TooltipsPage.init();
  } );
{% endblock %}
