<div class="review-details-wrapper">
<div class="review-title body--serif" itemprop="name">
BEST. MATTRESS. EVER.
</div>
<div class="review-text js-review-text">
<p class="review-text-body js-review-text-body body--serif" itemprop="reviewBody" style="max-height: none;">
I was waking up with lower back pain on my old mattress and I am not a great sleeper as it is. The Casper mattress makes me so happy: perfect balance of firm and give, no more back pain, husband likes it too. Plus ordering it was super easy. GET ONE!
</p>
</div>
<div class="review-details">
<div class="review-hours">
<svg class="icon icon-review-clock"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-review-clock"></use></svg>
<div class="review-hours-number">7</div>
<div class="review-hours-label">
hours of sleep per night
</div>
</div>
<div class="review-partner">
<svg class="icon icon-solo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-solo"></use></svg>
<svg class="icon icon-solo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-solo"></use></svg>
<div class="review-partner-label">Sleeps with a partner</div>

</div>
</div>
</div>
