<section class="add-to-cart">
<div class="add-to-cart-inner r-section-wrapper">
<h1 class="add-to-cart-title r-centered">The Casper Mattress</h1>
<p class="product-description body--sans-small">Springy latex and high-density memory foams come together to create one perfect sleep surface.</p>
<!-- / consider refactoring to make ships-by a module on the backend -->
<ul class="product-purchase-details">
<li class="product-purchase-details-item product-purchase-details--rating" itemtype="http://schema.org/AggregateRating" itemprop="aggregateRating" itemscope="">
<meta content="4.5" itemprop="ratingValue">
<meta content="5" itemprop="bestRating">
<span class="js-ratings-tooltip tooltip-container">
<span class="js-ratings-tooltip-toggle">
<abbr class="rating-stars" title="(4.5 out of 5 Stars)">
<span class="rating-star-wrap"><span class="rating-star-mask" style="width:100.0%;"><span class="rating-star rating-star--blue"></span></span><span class="rating-star rating-star--grey"></span></span>
<span class="rating-star-wrap"><span class="rating-star-mask" style="width:100.0%;"><span class="rating-star rating-star--blue"></span></span><span class="rating-star rating-star--grey"></span></span>
<span class="rating-star-wrap"><span class="rating-star-mask" style="width:100.0%;"><span class="rating-star rating-star--blue"></span></span><span class="rating-star rating-star--grey"></span></span>
<span class="rating-star-wrap"><span class="rating-star-mask" style="width:100.0%;"><span class="rating-star rating-star--blue"></span></span><span class="rating-star rating-star--grey"></span></span>
<span class="rating-star-wrap"><span class="rating-star-mask" style="width:54.853%;"><span class="rating-star rating-star--blue"></span></span><span class="rating-star rating-star--grey"></span></span>
</abbr><span class="rating-stars-stats">
<span class="rating-stars-stats--fraction" itemprop="ratingValue">
4.5/5
</span>
<span class="rating-stars-stats--total" itemprop="reviewCount">
(2,781)
</span>
</span>
<div class="reviews-stats-table-section reviews-stats-table-tooltip js-ratings-tooltip-content tooltip" data-arrow="top" data-placement="bottom">
<table class="reviews-stats-table">
<tbody>
<tr class="reviews-stats-table-row">
<td class="reviews-stats-table-rating">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="5" href="#">5 Star
</a></td>
<td class="reviews-stats-table-rating-visual">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="5" href="#"><div class="reviews-stats-table-rating-bar-background" data-rating="5">
<div class="reviews-stats-table-rating-bar" data-rating="5" style="width: 76.91477885652644%;"></div>
</div>
</a></td>
<td class="reviews-stats-table-rating-percent">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="5" href="#">77%
</a></td>
</tr>
<tr class="reviews-stats-table-row">
<td class="reviews-stats-table-rating">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="4" href="#">4 Star
</a></td>
<td class="reviews-stats-table-rating-visual">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="4" href="#"><div class="reviews-stats-table-rating-bar-background" data-rating="4">
<div class="reviews-stats-table-rating-bar" data-rating="4" style="width: 10.463861920172599%;"></div>
</div>
</a></td>
<td class="reviews-stats-table-rating-percent">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="4" href="#">10%
</a></td>
</tr>
<tr class="reviews-stats-table-row">
<td class="reviews-stats-table-rating">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="3" href="#">3 Star
</a></td>
<td class="reviews-stats-table-rating-visual">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="3" href="#"><div class="reviews-stats-table-rating-bar-background" data-rating="3">
<div class="reviews-stats-table-rating-bar" data-rating="3" style="width: 6.076950737144912%;"></div>
</div>
</a></td>
<td class="reviews-stats-table-rating-percent">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="3" href="#">6%
</a></td>
</tr>
<tr class="reviews-stats-table-row">
<td class="reviews-stats-table-rating">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="2" href="#">2 Star
</a></td>
<td class="reviews-stats-table-rating-visual">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="2" href="#"><div class="reviews-stats-table-rating-bar-background" data-rating="2">
<div class="reviews-stats-table-rating-bar" data-rating="2" style="width: 3.7756202804746493%;"></div>
</div>
</a></td>
<td class="reviews-stats-table-rating-percent">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="2" href="#">4%
</a></td>
</tr>
<tr class="reviews-stats-table-row">
<td class="reviews-stats-table-rating">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="1" href="#">1 Star
</a></td>
<td class="reviews-stats-table-rating-visual">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="1" href="#"><div class="reviews-stats-table-rating-bar-background" data-rating="1">
<div class="reviews-stats-table-rating-bar" data-rating="1" style="width: 2.7687882056814095%;"></div>
</div>
</a></td>
<td class="reviews-stats-table-rating-percent">
<a class="reviews-stats-table-link js-reviews-stats-table-link" data-rating="1" href="#">3%
</a></td>
</tr>
</tbody>
</table>

<a class="reviews-stats-read-all" href="/mattresses/reviews">Read all Reviews</a>
</div>
</span>
</span>
</li>
<li class="product-purchase-details-item product-purchase-details--ships-by">
<p class="product-purchase-details-ships-by-date">
Ready to Ship
<span data-icon="checkmark" data-size="x-small"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark"></use></svg></span>
</p>
</li>
</ul>

<form accept-charset="UTF-8" action="/orders/populate" data-remote="true" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div><div class="add-to-cart-form mattresses" data-hook="inside_product_cart_form" id="inside-product-cart-form" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
<div class="form-field--atc form-field--size">
<div class="form-input--atc">
<div class="size-selector js-size-selector size-selector--exposed">
<span class="size-selector-exposed-cta">CHOOSE A SIZE:</span>
<span class="size-selector-exposed-dimensions js-size-selector-exposed-dimensions">60” X 80” X 10”</span>
<div class="size-selector-selected js-size-selector-selected">
<span class="size-selector-name form-label--alt js-size-selector-name">Queen</span>
<span class="size-selector-dimensions js-size-selector-dimensions">60” X 80” X 10”</span>
</div>
<input class="js-mattress-variant-id-input" id="variant_id" name="variant_id" type="hidden" value="5">
<ul class="size-selector-options js-size-selector-options">
<li class="size-selector-option js-size-selector-option" data-dimensions="39” X 75” X 10”" data-price="<span class=&quot;currency-unit&quot;>$</span><span class=&quot;currency-value&quot;>500</span>" data-size="Twin" data-sku="CA001-01-GRY-1" data-variant-id="2">
<span class="size-selector-name">Twin</span>
<span class="size-selector-dimensions">39” X 75” X 10”</span>
</li>
<li class="size-selector-option js-size-selector-option" data-dimensions="39” X 80” X 10”" data-price="<span class=&quot;currency-unit&quot;>$</span><span class=&quot;currency-value&quot;>600</span>" data-size="Twin XL" data-sku="CA001-01-GRY-2" data-variant-id="3">
<span class="size-selector-name">Twin XL</span>
<span class="size-selector-dimensions">39” X 80” X 10”</span>
</li>
<li class="size-selector-option js-size-selector-option" data-dimensions="54” X 75” X 10”" data-price="<span class=&quot;currency-unit&quot;>$</span><span class=&quot;currency-value&quot;>750</span>" data-size="Full" data-sku="CA001-01-GRY-3" data-variant-id="4">
<span class="size-selector-name">Full</span>
<span class="size-selector-dimensions">54” X 75” X 10”</span>
</li>
<li class="size-selector-option js-size-selector-option is-selected" data-dimensions="60” X 80” X 10”" data-price="<span class=&quot;currency-unit&quot;>$</span><span class=&quot;currency-value&quot;>850</span>" data-size="Queen" data-sku="CA001-01-GRY-4" data-variant-id="5">
<span class="size-selector-name">Queen</span>
<span class="size-selector-dimensions">60” X 80” X 10”</span>
</li>
<li class="size-selector-option js-size-selector-option" data-dimensions="76” X 80” X 10”" data-price="<span class=&quot;currency-unit&quot;>$</span><span class=&quot;currency-value&quot;>950</span>" data-size="King" data-sku="CA001-01-GRY-5" data-variant-id="6">
<span class="size-selector-name">King</span>
<span class="size-selector-dimensions">76” X 80” X 10”</span>
</li>
<li class="size-selector-option js-size-selector-option" data-dimensions="72” X 84” X 10”" data-price="<span class=&quot;currency-unit&quot;>$</span><span class=&quot;currency-value&quot;>950</span>" data-size="CAL King" data-sku="CA001-01-GRY-6" data-variant-id="7">
<span class="size-selector-name">CAL King</span>
<span class="size-selector-dimensions">72” X 84” X 10”</span>
</li>
</ul>
</div>

</div>
</div>
<input class="title" id="quantity" min="1" name="quantity" type="hidden" value="1">
<link href="http://schema.org/InStock" itemprop="availability">
<div class="form-actions"><div class="form-field form-field--price">
<div class="form-input--price is-us js-add-to-cart-price-text" itemprop="price"><span class="currency-unit">$</span><span class="currency-value">850</span></div>
</div><button class="btn btn--accent btn--loading add-to-cart-button js-add-to-cart-button" name="button" type="submit">Add To Cart
</button></div>
<div class="form-help">
<a class="add-to-cart-financing-link" href="#">0% financing for $<span class="js-financing-amount">142</span>/month
</a></div>
</div>
</form>

</div>
</section>
