/**
 * @file Color
 * @module Color
 * @overview Styles for Color pattern page
 */

// Generate color classes for values in $colors map
@include color-classes($colors);

.color-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: ms(3);
  font-size: ms(0);
  letter-spacing: size(small-tracking);

  @include respond-between($break-small, $break-medium - 1) {
    justify-content: flex-start;
  }
}

.color-group-item {
  width: 100%;
  margin-bottom: ms(3);
  text-transform: uppercase;

  @include respond-between($break-small, $break-medium - 1) {
    width: 130px;
    margin-right: ms(1);
  }

  @include respond-at-and-above($break-medium) {
    width: 31.75%;

    .color-group--gray & {
      width: 18%;
    }
  }
}

.color-swatch {
  height: 130px;
  margin-bottom: ms(0);

  @include respond-at-and-above($break-medium) {
    height: 0;
    padding-bottom: 50%;

    .color-group--gray & {
      padding-bottom: 100%;
    }
  }
}
