/**
 * @file Color
 * @module Color
 * @overview Styles for Color pattern page
 */

// Generate color classes for values in $colors map
@include color-classes($colors);

.color-swatches {
  margin-bottom: 2em;
}

.color-swatches-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.85rem 0.85rem;
  text-align: left;
  font-size: 0.85em;
}

.color-swatches-swatch {
  width: 140px;
  height: 140px;
  margin-bottom: 0.5rem;
}

.color-swatches-name,
.color-swatches-hex,
.color-swatches-cmyk {
  display: block;
}
