{% extends "layout/_pattern_layout.html" %}

{% from 'color/color.macros.html' import color_group %}

{% set page_title = 'Color' %}

{% set colors = [
  {
    name: "gray",
    colors: [
      {
        name: "gray",
        hex: "#505050"
      },
      {
        name: "gray--light1",
        hex: "#505050"
      },
      {
        name: "gray--light2",
        hex: "#505050"
      },
      {
        name: "gray--light3",
        hex: "#505050"
      },
      {
        name: "gray--light4",
        hex: "#505050"
      },
      {
        name: "gray--light5",
        hex: "#505050"
      },
      {
        name: "gray--light6",
        hex: "#505050"
      },
      {
        name: "gray--light7",
        hex: "#505050"
      },
      {
        name: "gray--light8",
        hex: "#505050"
      },
      {
        name: "gray--light9",
        hex: "#505050"
      }
    ]
  },
  {
    name: "primary",
    colors: [
      {
        name: "primary",
        hex: "#505050"
      },
      {
        name: "primary--dark1",
        hex: "#505050"
      },
      {
        name: "primary--dark2",
        hex: "#505050"
      }
    ]
  },
  {
    name: "secondary",
    colors: [
      {
        name: "secondary",
        hex: "#505050"
      },
      {
        name: "secondary--light1",
        hex: "#505050"
      },
      {
        name: "secondary--light2",
        hex: "#505050"
      }
    ]
  },
  {
    name: "accent",
    colors: [
      {
        name: "accent",
        hex: "#505050"
      },
      {
        name: "accent--light1",
        hex: "#505050"
      },
      {
        name: "accent--light2",
        hex: "#505050"
      }
    ]
  },
  {
    name: "light-blue",
    colors: [
      {
        name: "light-blue",
        hex: "#505050"
      },
      {
        name: "light-blue--light1",
        hex: "#505050"
      },
      {
        name: "light-blue--light2",
        hex: "#505050"
      }
    ]
  }
  ]
%}

{% block pattern_content %}

  {% for color in colors %}
    {{ color_group(color) }}
  {% endfor %}

<div id="swatch-stacks"></div>
{% endblock %}

{% block module_loader %}
  System.import('views/color/ColorsPage.js').then( function(mod) {
    mod.ColorPage.init();
  } );
{% endblock %}
