{#
  * @overview Macros for site banners.
  * @todo When this file is moved to nightshade-core, check path for svg macro
#}
{% from 'nightshade-styles/modules/icons/macros.html' import svg %}

{#
  * Renders a basic banner for short-lines of content or a link.
#}
{% macro banner(content, type=type, href=href) %}
<div data-banner{% if type %}="{{ type }}"{% endif %}>
  <p data-banner-inner class="r-centered">{% if href %}<a class="link-arrow" href="{{ href }}">{% endif %}{{ content }}{% if href %} {{ svg('arrow') }}</a>{% endif %}</p>
</div>
{% endmacro %}
