{% extends "layout/pattern.html" %}

{% from 'nightshade-styles/modules/banners/banners.macros.html' import banner %}

{% set data = {
  name: "Banners",
  description: "Use Banners to call attention to short messaging or to prompt a user to take an action.",
  variants: [
    {
      name: "Standard with Text",
      description: "Short description of type of banner and when to use.",
      macro: "{{ banner('Free shipping and returns on all orders') }}",
      html: '<div data-banner>
  <p data-banner-inner class="r-centered">Free shipping and returns on all orders</p>
</div>',
      rules_old: [
        'Always use Calibre Light font in uppercase',
        'Max character count: 60'
      ],
      tech_notes: ['Tech notes on implementation'],
      stylesheet_import: {
        path: "modules/banners/_base.scss",
        code: "@import './node_modules/@casper/nightshade-core/modules/banners/base';"
      },
      macro_import: {
        path: "modules/banners/banners.macros.html",
        code: "{% from 'nightshade-core/modules/banners/banners.macros.html' import banner %}"
      }
    },
    {
      name: "Standard with White Background",
      description: "Short description of type of banner and when to use.",
      macro: "{{ banner('Free shipping and returns on all orders', type='background') }}",
      html: '<div data-banner="background">
  <p data-banner-inner class="r-centered">Free shipping and returns on all orders</p>
</div>'
    },
    {
      name: "Call to Action Link",
      description: "Short description of type of banner and when to use.",
      macro: "{{ banner('Your question may also be answered on our FAQ page', href='/faq') }}",
      html: '<div data-banner>
  <p data-banner-inner class="r-centered">
    <a class="link-arrow" href="/faq">Your question may also be answered on our FAQ page
      <svg class="icon icon-arrow" aria-labelledby="title" role="img">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/node_modules/@casper/nightshade-icons/dist/storefront/sprite.symbol.svg#arrow"></use>
      </svg>
    </a>
  </p>
</div>'
    }
  ]
  }
%}
