{% extends "./pattern.html" %}

{% from 'nightshade-styles/modules/icons/macros.html' import icon %}

{% set pattern_name = 'Banners' %}
{% set wrapper_classes = 'r-centered' %}

{% block head_styles %}
<style>
  [data-banner] {
    margin-bottom: 2em;
  }
</style>
{% endblock %}

{% block pattern_content %}
<h2>Banners</h2>
<div data-banner>
  <p data-banner-inner>Free shipping and returns on all orders</p>
</div>
<div data-banner="background">
  <p data-banner-inner>Banner with white background</p>
</div>
<div data-banner>
  <p data-banner-inner><a class="link-arrow" href="/faq">Your question may also be answered fon our FAQ page
{{ svg('arrow') }}</a></p>
</div>
{% endblock %}
