{% macro button(text, style='primary', size=size, type='button', class=class, id=id, href=href) %}
  {% if type == 'link' %}
    <a href="{{ href }}" data-button="{{ style }}"{% if size %} data-size="{{ size }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}{% if id %} id="{{ id }}"{% endif %}>{{ text }}</a>
  {% else %}
    <button type="{{ type }}" data-button="{{ style }}"{% if size %} data-size="{{ size }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}{% if id %} id="{{ id }}"{% endif %}>{{ text }}</button>
  {% endif %}
{% endmacro %}
