{% extends "layout/_pattern.html" %}

{% from 'nightshade-core/src/callout/callout.macros.html' import callout %}
{% from 'nightshade-core/src/blocks/blocks.macros.html' import block_item, block_group %}

{% set page_title = 'Callout' %}

{% block pattern_content %}

  {% call callout('…SO NO WONDER IT WON MORE AWARDS THAN ANY OTHER MATTRESS ON THE MARKET') %}
    {% call block_group() %}
      {{ block_item('ORDER ONLINE, IT SHIPS IN A BOX' ,'delivery') }}
      {{ block_item('FREE SHIPPING, FREE RETURNS' ,'bike') }}
      {{ block_item('100 NIGHT TRIAL, EAST RETURN PICKUP' ,'hundred-night-trial') }}
    {% endcall %}
  {% endcall %}

{% endblock %}
