{% extends "layout/_simple_site_layout.html" %}

{% from 'nightshade-core/src/banners/banners.macros.html' import cta_banner %}
{% from 'nightshade-core/src/callout/callout.macros.html' import callout %}
{% from 'nightshade-core/src/blocks/blocks.macros.html' import block_item, block_group %}
{% from 'nightshade-core/src/content_panel/panel.macros.html' import content_panel %}
{% from 'nightshade-core/src/hero/hero.macros.html' import hero %}
{% from 'nightshade-core/src/press_quote/quote.macros.html' import press_quote %}
{% from 'nightshade-core/src/beacon/beacon.macros.html' import beacon %}
{% from 'nightshade-core/src/icons/icons.macros.html' import svg, icon %}
{% from 'nightshade-core/src/reviews/reviews.macros.html' import star_rating %}

{% block page_content %}
<article class="credibility-landing">

  <div class="landing-header">
    {{ hero(
      'THE CASPER IS NOW THE MOST AWARDED MATTRESS OF THE CENTURY',
      background_path='product/mattress/casper-mattress-hero.jpg',
      featured=true
    ) }}

    {{ beacon('obsessively-engineered') }}
  </div>

  <nav class="landing-nav">
    <ul class="nav-inner r-inner">
      <li class="nav-item"><a class="nav-link" href="#"><span class="nav-link-text">OBSESSIVELY ENGINEERED</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="nav-link-text">INTELLIGENTLY PRICED</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="nav-link-text">BEST REVIEWED</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="nav-link-text">EASY TO BUY</span></a></li>
    </ul>
  </nav>

  {% call content_panel(
    'IT’S OBESESSIVELY ENGINEERED FOR OUTRAGEOUS COMFORT…',
    'landing/mattress-testing.jpg',
    image_description='Casper Mattress Being Tested',
    image_position='right',
    class='content-panel--engineering'
  ) %}
    <p>Developed in-house by a team of engineers, the Casper combines memory and latex foams to create a sleep surface that’s both soft and supportive. It’s got just the right sink, just the right bounce, and it keeps you cool all night. It truly is one perfect mattress.</p>
  {% endcall %}

  {% call callout('…SO NO WONDER IT WON MORE AWARDS THAN ANY OTHER MATTRESS ON THE MARKET', class='callout--awards') %}
    {% call block_group(stacked=true) %}
      {{ block_item('BEST INVENTION AWARD <span class="source">TIME 2015</span>', 'award-time25', class='block-item--time') }}
      {{ block_item('INNOVATION BY DESIGN AWARD <span class="source">FAST COMPANY 2015</span>', 'award-fastcompany') }}
      {{ block_item('BIG INNOVATION AWARD <span class="source">BI GROUP 2015</span>', 'award-biginnovation') }}
    {% endcall %}
  {% endcall %}

  {% call content_panel(
    'OUR RADICAL BUSINESS MODEL PASSES THE SAVINGS TO YOU',
    'landing/mattress-cost.jpg',
    image_description='Casper Mattress Cost Graph'
  ) %}
    <p>We design, develop, and manufacture the Casper in the USA. Without the inefficiencies of showroom real estate and salespeople, we sell our mattress for ⅓ of what it costs in the traditional model.</p>
  {% endcall %}

  {% call content_panel(
    'AND EVERYONE AGREES—WE’RE THE BEST IN BED',
    'landing/casper-awards.jpg',
    image_description='Casper Mattress Box With Awards Trophy',
    image_position='right',
    class='content-panel--reviews'
  ) %}
    {{ star_rating('blue') }}
    <p class="description">An average of 4.5/5 according to more than 3,000 reviews</p>
  {% endcall %}

  {{ press_quote('Changing the way people shop for mattresses', 'press-nyt') }}

  {% call callout('PLUS, WE MADE IT SO EASY TO BUY YOU CAN DO IT WITH YOUR EYES CLOSED', class='callout--convenience background--starry') %}
    {% call block_group(stacked=true) %}
      {{ block_item('ORDER ONLINE, <span class="break">IT SHIPS IN A BOX</span>', 'delivery') }}
      {{ block_item('FREE SHIPPING, <span class="break">FREE RETURNS</span>', 'bike', class='block-item--shipping') }}
      {{ block_item('100 NIGHT TRIAL, <span class="break">EAST RETURN PICKUP</span>', 'hundred-night-trial', class='block-item--trial') }}
    {% endcall %}
  {% endcall %}

  {{ cta_banner(
    'TRY CASPER FOR 100 NIGHTS',
    'UPGRADE YOUR MATTRESS TODAY',
    '/mattresses',
    background_path='landing/casper-bed-couple.jpg',
    large_background=true,
    class='cta-banner--hundred-night'
  ) }}

</article>
{% endblock %}

{% block footer_content %}
  <div class="landing-footer">
    {{ icon('ear', size='large') }}
    <h2>QUESTIONS? WE'RE ON CALL</h2>
    <h3>+1 888-498-0003</h3>
  </div>
{% endblock %}

{% block module_loader %}
  System.import('views/pages/LandingPage.js').then( function(mod) {
    mod.LandingPage.init();
  } );
{% endblock %}
