{% extends "layout/_site_layout.html" %}

{% import 'nightshade-core/src/tabs/tabs.macros.html' as tabs  %}
{% from 'nightshade-core/src/buttons/buttons.macros.html' import button %}
{% import 'nightshade-core/src/reviews/reviews.macros.html' as review  %}
{% from  'nightshade-core/src/pagination/pagination.macros.html' import paginator  %}
{% import 'pages/pages.macros.html' as page  %}
{% import 'nightshade-core/src/layout/blocks.macros.html' as block  %}

{% block page_content %}

<section class="reviews reviews-mattress">
  {{ tabs.reviews() }}
  {{ page.reviews_header() }}
  {{ page.reviews_filters() }}

  <div class="reviews-list r-section-wrapper">
    <div class="reviews-wrapper">
      {{ review.multi() }}
      {{ review.multi() }}
      {{ review.multi() }}
      {{ review.multi() }}
    </div>
  </div>

  {{ paginator() }}

  <aside class="product-footer">
    <div class="grid-two-column-container r-inner">
      <div class="grid-two-column-left r-section-wrapper">
        {{ block.newsletter_signup() }}
      </div>

      <div class="grid-two-column-right r-section-wrapper">
        {{ block.shipping_returns() }}
      </div>
    </div>
  </aside>
</section>
{% endblock %}

{% block module_loader_plus %}
System.import('ReviewsPage.js').then(function () {
  ReviewsPage.init();
});
{% endblock %}
