{% extends "layout/_site_layout.html" %}

{% import 'nightshade-core/src/banners/banners.macros.html' as banner  %}
{% import 'nightshade-core/src/layout/blocks.macros.html' as block  %}
{% from 'nightshade-core/src/buttons/buttons.macros.html' import button %}
{% import 'nightshade-core/src/layout/prop.macros.html' as prop  %}
{% import 'nightshade-core/src/gallery/oldgallery.macros.html' as media  %}
{% import 'nightshade-core/src/reviews/reviews.macros.html' as review  %}
{% import 'pages/pages.macros.html' as page  %}
{% import 'nightshade-core/src/purchase/purchase.macros.html' as purchase_module %}
{% from 'nightshade-core/src/trial_warranty/warranty.macros.html' import trial_returns %}


{% block page_content %}
<div class="product-purchase-wrapper">
  <div class="r-section product-purchase product-purchase--sheets">
    {{ media.old_gallery() }}
    {{ purchase_module.sheets() }}
  </div>
</div>

{{ banner.banner('Free shipping and returns on all orders') }}
{{ media.flickity_gallery() }}


{{ page.sheets_header() }}
{{ page.diagram() }}

<div class="product-specs-details r-inner r-section-wrapper">
  <article class="product-specs r-centered js-tech-specs">
    {{ button('See sheet details', 'ghost', class="product-specs-toggle js-tech-specs-toggle btn-toggler mx-auto") }}
    {{ page.specs() }}
  </article>
</div>


<article class="product-props">
  {{ prop.value_list() }}
</article>

<div class="background--light product-infographic r-section-wrapper sheets-infographic">
  <div class="product-infographic-container r-centered r-inner sheets-infographic-container">
    {{ page.infographic() }}
  </div>
  {{ banner.banner(content='Set works with any mattress up to 12” deep', class='r-inner') }}
</div>

{{ trial_returns() }}

<section class="r-section-wrapper r-centered product-page-review r-inner">
  {{ review.single() }}
</section>


<aside class="product-footer">
  <div class="grid-two-column-container r-inner">
    <div class="grid-two-column-left r-section-wrapper">
      {{ block.newsletter_signup() }}
    </div>

    <div class="grid-two-column-right r-section-wrapper">
      {{ block.shipping_returns() }}
    </div>
  </div>

  {{ banner.cta_banner(
    'How We Designed the Perfect Sheets',
    'See The Process',
    '/sheets/design',
    video_path='sheets-cta.mp4',
    video_fallback_path='bg-sheets.gif'
  ) }}


</aside>

{% endblock %}

{% block module_loader_plus %}
System.import('views/pages/SheetsPage.js').then(function () {
  SheetsPage.init();
});
{% endblock %}
