{% extends "base.html" %}

{% from 'nightshade-core/src/buttons/buttons.macros.html' import button %}

{% block title %}{{ page_title }} | Nightshade Design System{% endblock %}

{% block base_styles %}
<link href="/dist/assets/css/application.css" media="screen" rel="stylesheet">
{% endblock %}

{% block body_content %}
  <header class="nightshade-header base-gray--light8" role="banner">
    <button class="menu-trigger" id="nav-trigger">
      <span class="menu-trigger-icon"></span>
    </button>
    <h1 class="logo"><a href="/">Nightshade Design System</a></h1>
  </header>

  <nav class="nav--main is-invisible" id="nav-main" role="navigation" aria-expanded="false">

    <div class="nav-header">
      <span class="nav-header-title">Nightshade <span class="is-hidden">Table of Contents</span></span>
      <button class="nav-close" id="nav-close">
        <span class="menu-trigger-icon"></span>
      </button>
    </div>

    <div class="nav-links">
      <h3 class="section-heading">Visual Style</h3>
      <ul class="nav-section">
        <li><a class="nav-link" href="#">Typography</a></li>
        <li><a class="nav-link" href="/color">Color</a></li>
        <li><a class="nav-link" href="/icons">Icons</a></li>
        <li><a class="nav-link" href="/icons">Logo</a></li>
      </ul>
      <h3 class="section-heading">Components</h3>
      <ul class="nav-section">
        <li><a class="nav-link" href="/banners">Banners</a></li>
        <li><a class="nav-link" href="/buttons">Buttons</a></li>
        <li><a class="nav-link" href="/popovers">Popovers</a></li>
        <li><a class="nav-link" href="/tooltips">Tooltips</a></li>
      </ul>
    </div>
  </nav>

  {% block page_content %}{% endblock %}
{% endblock %}

{% block module_loader %}
  System.import('views/layout/NightshadeBase.js').then( function(mod) {
    mod.NightshadeBase.init();
  } );
{% endblock %}
