{% extends "base.html" %}

{% from 'nightshade-core/src/buttons/buttons.macros.html' import button %}

{% block title %}{{ page_title }} | Nightshade Design System{% endblock %}

{% block base_styles %}
<link href="/dist/assets/css/application.css" media="screen" rel="stylesheet">
{% endblock %}

{% block body_content %}
  <header class="nightshade-header base-gray--light8" role="banner">
    <div class="menu-trigger" id="menu-trigger">
      <span class="menu-trigger-icon"></span>
    </div>
    <h1><a href="/">Nightshade Design System</a></h1>
    {% block nav_right %}{% endblock %}
  </header>
  <nav class="nav--main is-invisible" id="nav-main" role="navigation">
    <h3 class="section-heading">Components</h3>
    <nav class="nav--study">
      <a class="nav-link" href="/color">Color</a>
      <a class="nav-link" href="/buttons">Buttons</a>
      <a class="nav-link" href="/icons">Icons</a>
      <a class="nav-link" href="/banners">Banners</a>
      <a class="nav-link" href="/popovers">Popovers</a>
      <a class="nav-link" href="/tooltips">Tooltips</a>
    </nav>
    <h3 class="section-heading">Pages</h3>
    <nav class="nav--study">
      <a class="nav-link" href="/pages/sheets.html">Product: Sheets</a>
      <a class="nav-link" href="/pages/warranty.html">Warranty</a>
    </nav>
  </nav>

  {% block page_content %}{% endblock %}
{% endblock %}
