{% extends "base.html" %}

{% from 'nightshade-core/src/buttons/buttons.macros.html' import button %}

{% block title %}{{ page_title }} | Nightshade Design System{% endblock %}

{% block base_styles %}
<link href="/dist/assets/css/application.css" media="screen" rel="stylesheet">
{% endblock %}

{% block body_content %}
  <header class="nightshade-header" role="banner">
    <button class="menu-trigger" id="nav-trigger">
      <span class="menu-trigger-icon"></span>
    </button>
    <h1 class="logo heading--tertiary-light"><a href="/">Nightshade Design System</a></h1>
  </header>

  <nav class="nav--main is-invisible" id="nav-main" role="navigation" aria-expanded="false">

    <header class="nav-header">
      <h3 class="nav-header-title heading--tertiary-light">Nightshade <span class="is-hidden">Table of Contents</span></h3>
      <button class="nav-close" id="nav-close">
        <span class="menu-trigger-icon"></span>
      </button>
    </header>

    <ul class="nav-links">
      <li class="nav-section">
        <span class="nav-section-heading">Visual Style</span>
        <ul>
          <li><a class="nav-link" href="#">Typography</a></li>
          <li><a class="nav-link" href="/color">Color</a></li>
          <li><a class="nav-link" href="/icons">Icons</a></li>
          <li><a class="nav-link" href="/icons">Logo</a></li>
        </ul>
      </li>
      <li class="nav-section">
        <span class="nav-section-heading">Components</span>
        <ul>
          <li><a class="nav-link" href="/banners">Banners</a></li>
          <li><a class="nav-link" href="/buttons">Buttons</a></li>
          <li><a class="nav-link" href="/popovers">Popovers</a></li>
          <li><a class="nav-link" href="/tooltips">Tooltips</a></li>
          <li><a class="nav-link" href="/press-quote">Press Quote</a></li>
          <li><a class="nav-link" href="/cta-banner">CTA Banner</a></li>
          <li><a class="nav-link" href="/hero">Hero</a></li>
          <li><a class="nav-link" href="/content-panel">Content Panel</a></li>
          <li><a class="nav-link" href="/beacon">Beacon</a></li>
          <li><a class="nav-link" href="/callout">Callout</a></li>
          <li><a class="nav-link" href="/blocks">Blocks</a></li>
          <li><a class="nav-link" href="/footer">Footer</a></li>
          <li><a class="nav-link" href="/backgrounds">Backgrounds</a></li>
          <li><a class="nav-link" href="/footer">Footer</a></li>
          <li><a class="nav-link" href="/pages/landing.html">Credibility Landing</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  {% block page_content %}{% endblock %}
{% endblock %}

{% block module_loader %}
  System.import('views/layout/NightshadeBase.js').then( function(mod) {
    mod.NightshadeBase.init();
  } );
{% endblock %}
