{% extends "layout/_nightshade_layout.html" %}

{% import 'layout/pattern.macros.html' as pattern %}

{% set page_title = data.name if data.name else page_title %}

{% block page_styles %}
<link href="/dist/assets/css/highlight.css" media="screen" rel="stylesheet">
{% endblock %}

{% block page_content %}
<article class="r-section-wrapper r-inner pattern">
  <header class="pattern-header">
    <h1>{{ page_title }}</h1>
    <p class="pattern-description">{{ data.description }}</p>
  </header>

  <nav class="pattern-nav">
    {% for variant in data.variants %}
    <a class="pattern-nav-item" href="#{{ variant.name|lower|replace(' ', '-') }}">{{ variant.name }}</a>
    {% endfor %}
  </nav>

  {% for variant in data.variants %}
    {{ pattern.variant(variant) }}
  {% endfor %}

  {% block pattern_content %}{% endblock %}
</article>
{% endblock %}


{% block module_loader %}
  System.import('views/layout/PatternPage.js').then( function(mod) {
    mod.PatternPage.init();
  } );
{% endblock %}
