// Pattern template
.pattern {
  position: relative;
  width: 100%;

  .heading--tertiary-light {
    margin-top: ms(3)
  }
}

.pattern-variant {
  margin-bottom: ms(10);
}

.pattern-header {
  margin-bottom: ms(5);

  @include respond-at-and-above($break-mobile) {
    margin-bottom: ms(8);
  }
}

.pattern-example,
.pattern-usage,
.pattern-notes {
  margin-bottom: ms(6);
}

.pattern-description {
  font-size: ms(1);
}

.pattern-variant-description {
  margin-bottom: ms(3);
  max-width: 41em;

  @include respond-at-and-above($break-large) {
    max-width: 51em;
  }
}

.pattern-nav {
  text-transform: uppercase;
  border-bottom: 1px solid color(dark-border);
  margin-bottom: ms(6);
  padding-bottom: ms(-2);
  font-weight: 600;
  letter-spacing: size(medium-tracking);
  font-size: ms(0);

  @include respond-at-and-above($break-mobile) {
    margin-bottom: ms(5);
    font-size: ms(-1);
  }
}

.pattern-nav-item {
  color: color(text);

  &:hover {
    color: color(primary);
  }

  @include respond-below($break-medium) {
    display: block;
    padding: ms(-7) 0;

    .touch & {
      padding: ms(-2) 0;
    }
  }

  @include respond-at-and-above($break-medium + 1) {
    &:not(:first-child) {
      margin-left: size(large);
    }
  }
}

.pattern-example-display {
  margin-bottom: ms(0);
  padding: size(large);
  background: color(medium-background);
}

.pattern-rules {
  margin-bottom: ms(6);
  border-bottom: 1px solid color(border);

  .pattern-example-display {
    margin-bottom: ms(-1);
  }
}

.pattern-rules-list,
.pattern-rules-examples {
  @include respond-at-and-above($break-medium) {
    display: flex;
  }
}

.pattern-rules-list-item {
  margin-bottom: ms(4);

  &:last-child {
    margin-bottom: ms(6);
  }

  @include respond-at-and-above($break-medium) {
    width: percentage(1 / 3);
    margin-bottom: ms(6);
    padding-right: ms(5);
  }

  .heading--smallcaps-light {

    @include respond-between($break-medium, $break-large) {
      font-size: ms(-1);
      margin-bottom: ms(-4);
    }
  }
}

.pattern-rules-example {
  margin-top: size(medium);
  margin-bottom: ms(4);

  &:last-child {
    margin-bottom: ms(6);
  }

  @include respond-at-and-above($break-medium) {
    width: 50%;
    margin-top: 0;
    margin-bottom: ms(6);

    &:nth-child(odd) {
      padding-right: size(smaller);
    }

    &:nth-child(even) {
      padding-left: size(smaller);
    }
  }
}

.pattern-notes {
  list-style: disc;
  margin-left: size(small);

  li {
    margin: ms(-7) 0;
  }

  code {
    font-size: 0.9rem; // unique value. @todo save to var
  }
}

.pattern-usage-header {
  display: flex;
  line-height: 1rem;

  .heading--smallcaps-light {
    margin-bottom: 0;
    align-self: flex-end;
  }

}

.pattern-usage-header-actions {
  margin-left: auto;
}

.pattern-usage-toggles {
  display: flex;
  font-size: ms(-1);
  font-weight: 600;
}

.pattern-usage-toggle {
  padding: ms(-5) ms(2);
  border: 1px solid color(border);
  letter-spacing: size(small-tracking);
  transition: 0.15s background ease-out;

  &:first-child {
    border-right: none;
    border-top-left-radius: size(small-corners);
    border-bottom-left-radius: size(small-corners);
  }

  &:last-child {
    border-top-right-radius: size(small-corners);
    border-bottom-right-radius: size(small-corners);
  }

  &.is-selected {
    background: color(light-background);
  }
}

.pattern-usage-code {
  border: 2px solid color(border);
  margin: ms(-2) 0 ms(5);
  padding: ms(0);
  font-size: 0.9rem; // unique value. @todo save to var
}
