{% extends "layout/_nightshade_layout.html" %}

{% import 'layout/pattern.macros.html' as pattern %}

{% block page_content %}
<article class="pattern">
  <header class="pattern-header">
    <h1 class="heading--primary-light">{{ data.page_title }}</h1>
    <p class="pattern-description">{{ data.page_description }}</p>
  </header>

  <nav class="pattern-nav heading--smallcaps-light">
    {% for variant in data.variants %}
    <a class="pattern-nav-item js-nav-item" href="#{{ variant.name|lower|replace(' ', '-') }}">{{ variant.name }}</a>
    {% endfor %}
  </nav>

  {% for variant in data.variants %}
    {{ pattern.variant(variant) }}
  {% endfor %}

  {% block pattern_content %}{% endblock %}
</article>
{% endblock %}


{% block module_loader %}
  System.import('views/layout/PatternPage.js').then( function(mod) {
    mod.PatternPage.init();
  } );
{% endblock %}
