// Pattern template
.pattern {
  width: 100%;
  padding: ms(10) ms(4) ms(4);

  h1,
  h2,
  h3,
  h4 {
    font-family: "Calibre Light";
    font-weight: 400;
    text-transform: none;
    line-height: 1.2;
    letter-spacing: size(smaller-tracking);
  }

  h1 {
    font-size: ms(5);
    margin-bottom: ms(1);
  }

  h2 {
    font-size: ms(3);
    margin-bottom: ms(-5);
  }

  h3 {
    font-size: ms(2);
    margin: ms(3) 0 ms(0);
  }

  h4 {
    font-size: ms(0);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: size(normal-tracking);
    margin-bottom: ms(-6);
  }
}

.pattern-variant {
  margin-bottom: 5rem;
}

.pattern-header {
  margin-bottom: ms(9);
}

.pattern-example,
.pattern-usage,
.pattern-notes {
  margin-bottom: ms(6);
}

.pattern-description {
  font-size: ms(1);
}

.pattern-variant-description {
  margin-bottom: ms(3);
}

.pattern-nav {
  text-transform: uppercase;
  border-bottom: 1px solid color(dark-border);
  margin-bottom: ms(5);
  padding-bottom: ms(0);
  font-weight: 600;
  letter-spacing: size(normal-tracking);
}

.pattern-nav-item {
  color: color(text);

  &:hover {
    color: color(secondary);
  }

  @include respond-below($break-medium) {
    display: block;
    padding: size(tiny) 0;

    .touch & {
      padding: size(smallest) 0;
    }
  }

  @include respond-at-and-above($break-medium) {
    &:not(:first-child) {
      margin-left: size(large);
    }
  }
}

.pattern-example-display {
  margin-bottom: ms(4);
  padding: size(large);
  background: color(medium-background);
}

.pattern-rules {
  margin: ms(6) 0;
  padding: ms(6) 0;
  border-top: 1px solid color(border);
  border-bottom: 1px solid color(border);

  .pattern-example-display {
    margin-bottom: ms(1);
  }
}

.pattern-rules-row {

  &:not(:last-child) {
    margin-bottom: ms(4);
  }
}
.pattern-rules-rule {
  margin-top: size(medium);

  @include respond-at-and-above($break-medium) {
    width: 50%;
    float: left;
    margin-top: 0;
  }
}

.pattern-rules-rule--do {
  @include respond-at-and-above($break-medium) {
    padding-right: size(smaller);
  }
}

.pattern-rules-rule--dont {
  @include respond-at-and-above($break-medium) {
    padding-left: size(smaller);
  }
}

.pattern-notes {
  list-style: disc;
  margin-left: size(small);

  li {
    margin: size(tiny) 0;
  }
}

.pattern-usage-header {
  position: relative;
  line-height: 1rem;
}

.pattern-usage-header-actions {
  position: absolute;
  top: 0;
  right: 0;
}

.pattern-usage-header-toggle {
  margin-left: size(small);
}

.pattern-usage-code,
.pattern-usage-import {
  border: 2px solid color(border);
}

.pattern-usage-code {
  margin: size(small) 0 size(large);
  padding: size(large);
}

.pattern-usage-import {
  margin: 0 0 ms(6);
  padding: size(small);
}
