{% extends "layout/_base_layout.html" %}

{% from 'nightshade-core/src/buttons/buttons.macros.html' import button %}
{% from 'nightshade-core/src/footer/footer.macros.html' import footer %}

{% block title %}{{ page_title }} | Casper{% endblock %}

{% block base_styles %}
<link href="/dist/assets/css/simple.css" media="screen" rel="stylesheet">
{% endblock %}

{% block body_content %}
<main role="main">
  {% block page_content %}
  {% endblock %}
</main>

{% call footer(simple=true) %}
  {% block footer_content %}{% endblock %}
{% endcall %}

{% endblock %}
