{% extends "layout/_base_layout.html" %}

{% import 'nightshade-core/src/layout/regions.macros.html' as region  %}
{% from 'nightshade-core/src/footer/footer.macros.html' import footer %}

{% block title %}Casper{% endblock %}

{% block base_styles %}
<link href="/dist/assets/css/site.css" media="screen" rel="stylesheet">
{% endblock %}

{% block body_content %}
<header id="header" class="r-header" role="banner">
  <div class="header-wrapper">
  {{ region.dropdown() }}
  </div>
</header>

<main class="wrapper" role="main">
  {% block page_content %}
  {% endblock %}
</main>

{% call footer() %}
  {{ region.footer_content() }}
{% endcall %}

{% endblock %}
