{% extends "base.html" %}

{% import 'layout/pattern.macros.html' as pattern %}
{% from 'nightshade-styles/modules/buttons/macros.html' import button %}

{% block title %}{{ data.name }} | Nightshade{% endblock %}

{% block head_styles %}
<link href="/dist/assets/css/highlight.css" media="screen" rel="stylesheet">
{% endblock %}

{% block body_content %}
<article class="r-section-wrapper r-inner pattern">
  {% include "layout/_nav_buttons.html" %}

  <header class="pattern-header">
    <h1>{{ data.name }}</h1>
    <p class="pattern-description">{{ data.description }}</p>
  </header>

  {% for variant in data.variants %}
    {{ pattern.variant(variant.name, variant.example, variant.html, variant.rules, variant.tech_notes, variant.stylesheet_import, variant.macro_import) }}
  {% endfor %}

</article>
{% endblock %}

{% block module_loader %}
  System.import('views/layout/PatternPage.js').then( function(mod) {
    mod.PatternPage.init();
  } );
{% endblock %}

{% block inline_js %}
  {% include "layout/_background_toggle.html" %}
{% endblock %}
