{% extends "base.html" %}

{% from 'nightshade-styles/modules/buttons/macros.html' import button %}

{% block title %}Pattern Title | Nightshade{% endblock %}

{% block body_content %}
<article class="r-section-wrapper r-inner pattern">
  {% include "layout/_nav-buttons.html" %}

  <header class="pattern-header">
    <h1>Pattern Title</h1>
    <p class="pattern-description">Description of pattern and what its function is, including any other relevant information.</p>
  </header>

  <section class="pattern-variant">
    <div class="pattern-example">
      <h2>Example</h2>
      <div class="pattern-example-display r-centered base-gray--light8">
        {{ button('Primary') }}
      </div>
      <h3>Rules</h3>
      <ul class="pattern-notes">
        <li>Pattern must be used in this specific manner</li>
        <li>Another rule specifying pattern usage restrictions, limitations, or conventions</li>
        <li>Pattern must be used in this specific manner</li>
      </ul>
    </div>

    <div class="pattern-usage">
      <h2>Usage in Code</h2>
      {{ button('Macro', 'ghost', 'small') }}
      {{ button('HTML', 'ghost', 'small') }}
      <code class="pattern-usage-code base-gray--light8 r-centered">
        <pre>{% raw %}{{ button('Primary') }}{% endraw %}</pre>
      </code>
      <h3>Tech Notes</h3>
      <ul class="pattern-notes">
        <li>Pattern must be used in this specific manner</li>
        <li>Another rule specifying pattern usage restrictions, limitations, or conventions</li>
      </ul>
    </div>
  </section>

</article>
{% endblock %}

{% block inline_js %}
  document.getElementById('toggle-background').addEventListener('click', function() {
    document.documentElement.classList.toggle('background-gray');
  });
{% endblock %}
