{% extends "./studies.html" %}

{% macro form_field(font) %}
<h3 class="type-heading">Form Field ({{ font }})</h3>
<div class="type-study">
  <div class="form-fieldset form-fieldset--payment" data-hook="" id="payment">
  <div data-hook="checkout_payment_step">
  <ul class="form-field-group--gateways" data-hook="" id="payment-methods">
  <li class="form-payment-method form-payment-method-gateway js-form-payment-method-gateway" data-hook="" id="payment_method_2" style="display: list-item;">
  <div class="form-field">
  <label class="form-label" for="name_on_card_2">Name on card
  <abbr class="is-required">
  *
  </abbr>
</label><input {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %} autocomplete="cc-name" class="form-input required" id="name_on_card_2" name="payment_source[2][name]" tabindex="1" type="text" value="Jonathan Smith">
  </div>
  <div class="form-field" data-hook="card_number">
  <label class="form-label" for="card_number">Card Number
  <abbr class="is-required">
  *
  </abbr>
  <span class="card-type body--sans is-hidden -backdrop" id="js-card-type"></span>
</label><input {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %} autocomplete="cc-number" class="form-input js-form-input-card-number cardNumber required" id="card_number" inputmode="numeric" maxlength="19" name="payment_source[2][number]" pattern="d+" tabindex="1" type="text" value="4111 1111 1111 1111" x-inputmode="numeric">
  </div>
  <div class="form-field-group">
  <div class="form-field" data-hook="card_expiration">
  <label class="form-label" for="card_expiry">Expiration
  <abbr class="is-required">
  *
  </abbr>
</label><input {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %} autocomplete="cc-exp" class="required form-input js-form-input-expiry cardExpiry" id="card_expiry" name="payment_source[2][expiry]" placeholder="MM / YY" tabindex="1" type="text" value="10 / 18">
  </div>
  <div class="form-field" data-hook="card_code">
  <label class="form-label" for="card_code">Security Code
  <abbr class="is-required">
  *
  </abbr>
</label><input {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %} autocomplete="cc-csc" class="form-input js-form-input-cvv cardCode required" id="card_code" inputmode="numeric" maxlength="5" name="payment_source[2][verification_value]" pattern="\d*" tabindex="1" type="text" value="159" x-inputmode="numeric">
  <p><a class="form-help" data-hook="cvv_link" href="/content/cvv" id="cvv_link" target="_blank">What's this?</a></p>
  </div>
  </div>
  <input class="ccType" id="cc_type" name="payment_source[2][cc_type]" type="hidden" value="">
  <div class="form-field form-field-card-scan is-hidden" id="js-form-field-card-scan">
  <input autocomplate="off" class="js-form-input form-input" id="cardExpirationMonth" name="ios-expiry-month" type="text">
  <input autocomplete="off" class="js-form-input form-input" id="cardExpirationYear" name="ios-expiry-year" type="text">
  </div>

  </li>
  </ul>
  </div>
  </div>
</div>
{% endmacro %}

{% block type_study %}
    {% for font in fonts %}
      {{ form_field(font) }}
    {% endfor %}
{% endblock %}
