<section class="legal-section r-inner r-section-wrapper" id="mattresses">
<h2 id="casper-sleep-10-year-limited-mattress-warranty">CASPER SLEEP 10 YEAR LIMITED MATTRESS WARRANTY</h2>

<p>Your new Casper mattress is covered by a 10 year limited warranty (the “<strong>Mattress Warranty</strong>”).This limited Mattress Warranty gives you specific legal rights, and you may also have other rights which vary from state to state.</p>

<h3 id="a-products-covered-by-this-limited-mattress-warranty">A. Products Covered by this Limited Mattress Warranty</h3>

<p>This limited Mattress Warranty extends to mattresses manufactured by Casper Sleep, Inc. (“<strong>Casper</strong>”) and purchased directly from Casper or Casper’s authorized retailers (the “<strong>Mattresses</strong>”). Some parts of this limited Mattress Warranty also extend to covers sold with Mattresses (“<strong>Mattress Covers</strong>”). Mattresses are designed to work on a firm, solid-surface, on a bed base that is structurally capable of supporting the weight of the Mattress and user(s). This Mattress Warranty does not cover your Product if you use it in a manner incompatible with that intended design.</p>

<h3 id="b-who-this-mattress-warranty-extends-to">B. Who this Mattress Warranty Extends To</h3>

<p>This limited Mattress Warranty extends to the original purchaser of any Mattress. All Casper warranties, including any implied warranties, are valid only for the period of time the Mattress is owned by the original purchaser of the Mattress. The “original purchaser,” for the purposes of this Mattress Warranty, is the first purchaser of the Mattress from Casper or a Casper authorized retailer.&nbsp;<strong>Please retain a copy of your receipt as proof of purchase</strong>.&nbsp;All Casper limited warranties are not transferable.</p>

<h3 id="c-caspers-limited-mattress-warranty-and-responsibilities">C. Casper's Limited Mattress Warranty and Responsibilities</h3>

<p>Casper warrants the Mattress in its original packaging sold to you against the defects in material and workmanship set forth below (“<strong>Defects</strong>”) for a period of 10 years from the time your Mattress is purchased by you, when the Mattress is used normally for its intended purposes and on a bed base that is structurally capable of supporting the weight of the Mattress and user(s).</p>
</section>
