{% extends "./studies.html" %}

{% macro homepage_video_callout(font) %}
<h3 class="type-heading">Homepage Video Callout ({{ font }})</h3>
<div class="type-study r-centered">
  <div class="sandwich__text">
    <p class="body--sans" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>Our award-winning mattress is so perfect <br>we only make one.</p>
    <a data-button="play" class="btn--play btn" href="/mattresses/design">Watch The Video</a>
  </div>
</div>
{% endmacro %}

{% block type_study %}
    {% for font in fonts %}
      {{ homepage_video_callout(font) }}
    {% endfor %}
{% endblock %}
