{% extends "./studies.html" %}

{% macro link_sans(font) %}
<h3 class="type-heading">Link (sans-serif) ({{ font }})</h3>
<div class="type-study r-centered" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  <h3 class="product-specs-section-header">
  WARRANTY
  </h3>
  <div class="tech-specs-section-copy">
  1-year limited warranty.
  <a class="link tech-specs-link" href="/warranty#sheets" target="_blank">Read More</a>
  </div>
</div>
{% endmacro %}

{% block type_study %}
    {% for font in fonts %}
      {{ link_sans(font) }}
    {% endfor %}
{% endblock %}
