{% import 'nightshade-styles/src/purchase/purchase.macros.html' as purchase_module %}

{% macro homepage_module(font) %}
<h3 class="type-heading">Homepage Module ({{ font }})</h3>
<div class="type-study homepage-module r-centered ">
  <div class="sandwich__text">
    <h1 class="-dark">The Dream Team</h1>
    <p class="body--sans" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>More than a year in the making, our new sheets and pillow are engineered to perfectly complement the Casper mattress and create the world's best sleep environment.</p>
    <a data-button="ghost" class="btn--ghost btn" href="/mattress">Shop the Mattress</a><a data-button="ghost" class="btn--ghost btn" href="/sheets">Shop the Sheets</a><a data-button="ghost" class="btn--ghost btn" href="/pillows">Shop the Pillow</a>
  </div>
</div>
{% endmacro %}

{% macro homepage_video_callout(font) %}
<h3 class="type-heading">Homepage Video Callout ({{ font }})</h3>
<div class="type-study r-centered">
  <div class="sandwich__text">
    <p class="body--sans" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>Our award-winning mattress is so perfect <br>we only make one.</p>
    <a data-button="play" class="btn--play btn" href="/mattresses/design">Watch The Video</a>
  </div>
</div>
{% endmacro %}

{% macro purchase_module(font, index) %}
<h3 class="type-heading">Purchase Module ({{ font }})</h3>
<div class="type-study r-centered study-{{ index }}">
  {% if font != 'Verlag' %}
    <style scoped>
      .study-{{ index }} .body--sans-small {
        font-family: "{{ font }}";
      }
    </style>
  {% endif %}

  {{ purchase_module.mattress() }}

{% endmacro %}

{% macro sheets_purchase_module(font, index) %}
<h3 class="type-heading">Sheets Purchase Module ({{ font }})</h3>
<div class="type-study type-study--sheets r-centered study-{{ index }}" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  {% if font != 'Verlag' %}
    <style scoped>
      .study-{{ index }} h3,
      .study-{{ index }} .body--sans,
      .study-{{ index }} .body--sans-small,
      .study-{{ index }} .custom-select {
        font-family: "{{ font }}";
      }
    </style>
  {% endif %}

{#   {{ purchase_module.mattress() }}
 #}
  <div class="fieldset-product-purchase-inner r-section-wrapper">
    <h1 class="add-to-cart-title">The Casper Sheets</h1>
    <ul class="product-purchase-details">
      <li class="product-purchase-details-item product-purchase-details--ships-by">
        <p class="product-purchase-details-ships-by-date tooltip-container">
          Ships by
          <span id="product-purchase-details-ships-by-date">December 25</span>
        </p>
      </li>
    </ul>
    <form accept-charset="UTF-8" action="/orders/capulate" autocomplete="off" class="sheets-purchase-form" data-remote="true" id="sheets-purchase-form" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>    <div class="add-to-cart-form r-section sheets" data-hook="inside_product_cart_form" id="inside-product-cart-form" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
          <input id="product-id" name="variants[][variant_id]" type="hidden" value="78">
          <input id="product-qty" min="1" name="variants[][quantity]" type="hidden" value="1">
          <input id="duvet-id" name="variants[][variant_id]" type="hidden" value="67">
          <input id="duvet-qty" name="variants[][quantity]" type="hidden" value="0">
          <input id="show-notification" name="show_notification" type="hidden" value="false">
          <div class="sheets-select-nav r-centered">
            <div class="sheet-select-tab-container">
              <a class="body--sans sheets-select-tab js-sheets-select-tab sheets-select-tab--set" data-name="sheets-set" href="#"><div class="sheets-select-nav-tab-text">SETS</div>
              </a>
            </div>
            <div class="sheet-select-tab-container">
              <a class="body--sans sheets-select-tab js-sheets-select-tab sheets-select-tab--custom is-active" data-name="sheets-custom" href="#"><div class="sheets-select-nav-tab-text">SEPARATES</div>
              </a>
            </div>
          </div>
          <div class="sheets-select-container">
            <div class="sheets-select sheets-select--set js-sheets-product js-sheets-product--set sheets-select--hide" data-category="Sheets" data-id="78" data-name="Casper Sheet Set" data-options="Size: Queen, Color: White/Chambray" data-price="180.0" data-ships-by="December 25" data-sku="QUEENSETWC" data-slug="sheets" id="sheets-set">
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="sheets-select sheets-select--custom" id="sheets-custom">
              <ul class="sheets-custom-products" id="sheets-custom-products">
                <li class="js-product-btn-casper-flat-sheet js-sheets-product sheets-product sheets-product--collapsed slug-casper-flat-sheet" data-category="Sheets" data-id="43" data-name="Casper Flat Sheet" data-options="Size: Queen, Color: White/Chambray" data-price="80.0" data-ships-by="December 25" data-sku="FLTSHEETQUWC" data-slug="casper-flat-sheet">
                  <header class="sheets-product-header">
                    <img alt="Casper Flat Sheet" class="sheets-product-img" src="https://d2sqd38yphv60z.cloudfront.net/assets/nightshade/products/sheets/casper-flat-sheet-4a8964eb90b328780dc4e6307af15824.svg">
                    <h3 class="sheets-product-title js-product-title">Flat Sheet</h3>
                    <div class="sheets-product-price-range">
                      from
                      <span class="currency-unit">$</span><span class="currency-value">60</span>
                    </div>
                    <div class="sheets-product-price js-product-price">
                      <span class="currency-unit">$</span><span class="currency-value">80</span>
                      each
                    </div>
                  </header>
                  <div class="sheets-product-form">
                    <div class="form-field form-field--color">
                      <div class="custom-select custom-select--color js-custom-select js-select-color">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0" data-color="white/chambray">White/Chambray</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option" data-color="white/white">
                              <input class="custom-select-radio js-custom-select-radio" data-option="White/White" name="casper-flat-sheet-color" type="radio" value="White/White">
                              White/White
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option" data-color="white/chambray">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="White/Chambray" name="casper-flat-sheet-color" type="radio" value="White/Chambray">
                              White/Chambray
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div><div class="form-field form-field--size">
                      <div class="custom-select js-custom-select js-select-size">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0">Queen</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="Twin/Twin XL" name="casper-flat-sheet-size" type="radio" value="Twin/Twin XL">
                              Twin/Twin XL
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="Full" name="casper-flat-sheet-size" type="radio" value="Full">
                              Full
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="Queen" name="casper-flat-sheet-size" type="radio" value="Queen">
                              Queen
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="King/CAL King" name="casper-flat-sheet-size" type="radio" value="King/CAL King">
                              King/CAL King
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div><div class="form-field form-field--quantity">
                      <div class="custom-select js-custom-select js-select-quantity">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0">1</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="1" name="casper-flat-sheet-quantity" type="radio" value="1">
                              1
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="2" name="casper-flat-sheet-quantity" type="radio" value="2">
                              2
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="3" name="casper-flat-sheet-quantity" type="radio" value="3">
                              3
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="4" name="casper-flat-sheet-quantity" type="radio" value="4">
                              4
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="5" name="casper-flat-sheet-quantity" type="radio" value="5">
                              5
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <button data-button="accent" class="btn btn--accent btn--loading add-to-cart-button js-add-to-cart-button" name="button" type="submit">Add To Cart
                    </button>
                    <button class="btn--close js-btn-close" type="button">
                      <span data-icon="close"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg></span>
                    </button>
                  </div>
                </li>
                <li class="js-product-btn-casper-fitted-sheet js-sheets-product sheets-product sheets-product--collapsed slug-casper-fitted-sheet" data-category="Sheets" data-id="53" data-name="Casper Fitted Sheet" data-options="Size: Queen, Color: White/Chambray" data-price="80.0" data-ships-by="December 25" data-sku="FITSHEETQUWC" data-slug="casper-fitted-sheet">
                  <header class="sheets-product-header">
                    <img alt="Casper Fitted Sheet" class="sheets-product-img" src="https://d24myaiemfmj1f.cloudfront.net/assets/nightshade/products/sheets/casper-fitted-sheet-5a61c672b40565bcec0d6da76b8c84b3.svg">
                    <h3 class="sheets-product-title js-product-title">Fitted Sheet</h3>
                    <div class="sheets-product-price-range">
                      from
                      <span class="currency-unit">$</span><span class="currency-value">50</span>
                    </div>
                    <div class="sheets-product-price js-product-price">
                      <span class="currency-unit">$</span><span class="currency-value">80</span>
                      each
                    </div>
                  </header>
                  <div class="sheets-product-form">
                    <div class="form-field form-field--color">
                      <div class="custom-select custom-select--color js-custom-select js-select-color">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0" data-color="white/chambray">White/Chambray</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option" data-color="white/white">
                              <input class="custom-select-radio js-custom-select-radio" data-option="White/White" name="casper-fitted-sheet-color" type="radio" value="White/White">
                              White/White
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option" data-color="white/chambray">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="White/Chambray" name="casper-fitted-sheet-color" type="radio" value="White/Chambray">
                              White/Chambray
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div><div class="form-field form-field--size">
                      <div class="custom-select js-custom-select js-select-size">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0">Queen</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="Twin" name="casper-fitted-sheet-size" type="radio" value="Twin">
                              Twin
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="Twin XL" name="casper-fitted-sheet-size" type="radio" value="Twin XL">
                              Twin XL
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="Full" name="casper-fitted-sheet-size" type="radio" value="Full">
                              Full
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="Queen" name="casper-fitted-sheet-size" type="radio" value="Queen">
                              Queen
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="King" name="casper-fitted-sheet-size" type="radio" value="King">
                              King
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="CAL King" name="casper-fitted-sheet-size" type="radio" value="CAL King">
                              CAL King
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div><div class="form-field form-field--quantity">
                      <div class="custom-select js-custom-select js-select-quantity">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0">1</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="1" name="casper-fitted-sheet-quantity" type="radio" value="1">
                              1
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="2" name="casper-fitted-sheet-quantity" type="radio" value="2">
                              2
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="3" name="casper-fitted-sheet-quantity" type="radio" value="3">
                              3
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="4" name="casper-fitted-sheet-quantity" type="radio" value="4">
                              4
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="5" name="casper-fitted-sheet-quantity" type="radio" value="5">
                              5
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <button data-button="accent" class="btn btn--accent btn--loading add-to-cart-button js-add-to-cart-button" name="button" type="submit">Add To Cart
                    </button>
                    <button class="btn--close js-btn-close" type="button">
                      <span data-icon="close"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg></span>
                    </button>
                  </div>
                </li>
                <li class="js-product-btn-casper-pillowcase js-sheets-product sheets-product sheets-product--collapsed slug-casper-pillowcase" data-category="Sheets" data-id="60" data-name="Casper Pillowcase" data-options="Size: Standard, Color: White/Chambray" data-price="50.0" data-ships-by="December 25" data-sku="PILLOWCSTDWC" data-slug="casper-pillowcase">
                  <header class="sheets-product-header">
                    <img alt="Casper Pillowcase" class="sheets-product-img" src="https://d195imggxbw1w0.cloudfront.net/assets/nightshade/products/sheets/casper-pillowcase-f798c03bb06b17576bbd616268e77274.svg">
                    <h3 class="sheets-product-title js-product-title">Pillowcases</h3>
                    <div class="sheets-product-price-range">
                      from
                      <span class="currency-unit">$</span><span class="currency-value">50</span>
                    </div>
                    <div class="sheets-product-price js-product-price">
                      <span class="currency-unit">$</span><span class="currency-value">50</span>
                      (set of two)
                    </div>
                  </header>
                  <div class="sheets-product-form">
                    <div class="form-field form-field--color">
                      <div class="custom-select custom-select--color js-custom-select js-select-color">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0" data-color="white/chambray">White/Chambray</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option" data-color="white/white">
                              <input class="custom-select-radio js-custom-select-radio" data-option="White/White" name="casper-pillowcase-color" type="radio" value="White/White">
                              White/White
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option" data-color="white/chambray">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="White/Chambray" name="casper-pillowcase-color" type="radio" value="White/Chambray">
                              White/Chambray
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div><div class="form-field form-field--size">
                      <div class="custom-select js-custom-select js-select-size">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0">Standard</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="Standard" name="casper-pillowcase-size" type="radio" value="Standard">
                              Standard
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="King" name="casper-pillowcase-size" type="radio" value="King">
                              King
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div><div class="form-field form-field--quantity">
                      <div class="custom-select js-custom-select js-select-quantity">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0">1</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="1" name="casper-pillowcase-quantity" type="radio" value="1">
                              1
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="2" name="casper-pillowcase-quantity" type="radio" value="2">
                              2
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="3" name="casper-pillowcase-quantity" type="radio" value="3">
                              3
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="4" name="casper-pillowcase-quantity" type="radio" value="4">
                              4
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="5" name="casper-pillowcase-quantity" type="radio" value="5">
                              5
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <button data-button="accent" class="btn btn--accent btn--loading add-to-cart-button js-add-to-cart-button" name="button" type="submit">Add To Cart
                    </button>
                    <button class="btn--close js-btn-close" type="button">
                      <span data-icon="close"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg></span>
                    </button>
                  </div>
                </li>
                <li class="js-product-btn-casper-duvet-cover js-sheets-product sheets-product sheets-product--collapsed slug-casper-duvet-cover" data-category="Sheets" data-id="66" data-name="Casper Duvet Cover" data-options="Size: Full/Queen, Color: White/White" data-price="140.0" data-ships-by="November 30" data-sku="DUVETQUWW" data-slug="casper-duvet-cover">
                  <header class="sheets-product-header">
                    <img alt="Casper Duvet Cover" class="sheets-product-img" src="https://d1unl30m65x1nv.cloudfront.net/assets/nightshade/products/sheets/casper-duvet-cover-06482cff67a472ca8a56f3649214497e.svg">
                    <h3 class="sheets-product-title js-product-title">Duvet Cover</h3>
                    <div class="sheets-product-price-range">
                      available in March
                    </div>
                    <div class="sheets-product-price js-product-price">
                      <span class="currency-unit">$</span><span class="currency-value">140</span>
                      each
                    </div>
                  </header>
                  <div class="sheets-product-form">
                    <div class="form-field form-field--color">
                      <div class="custom-select custom-select--color js-custom-select js-select-color">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0" data-color="white/white">White/White</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option" data-color="white/white">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="White/White" name="casper-duvet-cover-color" type="radio" value="White/White">
                              White/White
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option" data-color="white/chambray">
                              <input class="custom-select-radio js-custom-select-radio" data-option="White/Chambray" name="casper-duvet-cover-color" type="radio" value="White/Chambray">
                              White/Chambray
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div><div class="form-field form-field--size">
                      <div class="custom-select js-custom-select js-select-size">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0">Full/Queen</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="Twin/Twin XL" name="casper-duvet-cover-size" type="radio" value="Twin/Twin XL">
                              Twin/Twin XL
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="Full/Queen" name="casper-duvet-cover-size" type="radio" value="Full/Queen">
                              Full/Queen
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="King/CAL King" name="casper-duvet-cover-size" type="radio" value="King/CAL King">
                              King/CAL King
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div><div class="form-field form-field--quantity">
                      <div class="custom-select js-custom-select js-select-quantity">
                        <div class="custom-select-selected js-custom-select-selected" tabindex="0">1</div>
                        <ul class="custom-select-options js-custom-select-options">
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input checked="" class="custom-select-radio js-custom-select-radio" data-option="1" name="casper-duvet-cover-quantity" type="radio" value="1">
                              1
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="2" name="casper-duvet-cover-quantity" type="radio" value="2">
                              2
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="3" name="casper-duvet-cover-quantity" type="radio" value="3">
                              3
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="4" name="casper-duvet-cover-quantity" type="radio" value="4">
                              4
                            </label>
                          </li>
                          <li class="custom-select-row">
                            <label class="custom-select-option js-custom-select-option">
                              <input class="custom-select-radio js-custom-select-radio" data-option="5" name="casper-duvet-cover-quantity" type="radio" value="5">
                              5
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <button data-button="accent" class="btn btn--accent btn--loading add-to-cart-button js-add-to-cart-button" name="button" type="submit">Add To Cart
                    </button>
                    <button class="btn--close js-btn-close" type="button">
                      <span data-icon="close"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg></span>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
{% endmacro %}

{% macro paired_with_h1(font) %}
<h3 class="type-heading">Paired with H1 ({{ font }})</h3>
<div class="type-study">
  <div class="design-value-prop--fibers-copy-block">
  <h1 class="-dark">Friendly Fibers</h1>
  <p class="body--sans-large design-value-prop-copy-paragraph" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  Ultimately, we determined the best solution was to fill our pillow with synthetic fibers, which are specifically engineered to suit a wide range of needs. They have properties that surpass down, they’re hypoallergenic, and they last longer than other fill types.
  </p>
  </div>
</div>
{% endmacro %}

{% macro paired_with_h2(font) %}
<h3 class="type-heading">Paired with H2 ({{ font }})</h3>
<div class="type-study">
  <div class="product-prop-info">
  <h2 class="product-prop-title -dark">JUST THE RIGHT SINK,<br> JUST THE RIGHT BOUNCE</h2>
  <p class="product-prop-copy body--sans-medium" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>Our patent-pending combination of latex and memory foams offers the perfect balance of contouring comfort and healthy bounce, creating an award-winning sleep surface that conforms to your body with minimal sinkage.</p>
  </div>
</div>
{% endmacro %}

{% macro paired_with_h3(font) %}
<h3 class="type-heading">Paired with H3 ({{ font }})</h3>
<div class="type-study r-centered">


</div>
{% endmacro %}

{% macro paired_with_body_serif(font) %}
<h3 class="type-heading">Paired with Body Serif ({{ font }})</h3>
<div class="type-study">
  <div class="review-details-wrapper">
  <div class="review-title body--serif" itemprop="name" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  Best Mattress Ever
  </div>
  <div class="review-text js-review-text">
  <p class="review-text-body js-review-text-body body--serif" itemprop="reviewBody" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  I was waking up with lower back pain on my old mattress and I am not a great sleeper as it is. The Casper mattress makes me so happy: perfect balance of firm and give, no more back pain, husband likes it too. Plus ordering it was super easy. GET ONE!
  </p>
  </div>
  </div>
</div>
{% endmacro %}

{% macro full_width(font) %}
<h3 class="type-heading">Full Width ({{ font }})</h3>
<div class="type-study">
  <section class="legal-section r-inner r-section-wrapper" id="mattresses">
  <h2 id="casper-sleep-10-year-limited-mattress-warranty">CASPER SLEEP 10 YEAR LIMITED MATTRESS WARRANTY</h2>

  <p {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>Your new Casper mattress is covered by a 10 year limited warranty (the “<strong>Mattress Warranty</strong>”).This limited Mattress Warranty gives you specific legal rights, and you may also have other rights which vary from state to state.</p>

  <h4 id="a-products-covered-by-this-limited-mattress-warranty">A. Products Covered by this Limited Mattress Warranty</h3>

  <p {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>This limited Mattress Warranty extends to mattresses manufactured by Casper Sleep, Inc. (“<strong>Casper</strong>”) and purchased directly from Casper or Casper’s authorized retailers (the “<strong>Mattresses</strong>”). Some parts of this limited Mattress Warranty also extend to covers sold with Mattresses (“<strong>Mattress Covers</strong>”). Mattresses are designed to work on a firm, solid-surface, on a bed base that is structurally capable of supporting the weight of the Mattress and user(s). This Mattress Warranty does not cover your Product if you use it in a manner incompatible with that intended design.</p>

  <h4 id="b-who-this-mattress-warranty-extends-to">B. Who this Mattress Warranty Extends To</h3>

  <p {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>This limited Mattress Warranty extends to the original purchaser of any Mattress. All Casper warranties, including any implied warranties, are valid only for the period of time the Mattress is owned by the original purchaser of the Mattress. The “original purchaser,” for the purposes of this Mattress Warranty, is the first purchaser of the Mattress from Casper or a Casper authorized retailer.&nbsp;<strong>Please retain a copy of your receipt as proof of purchase</strong>.&nbsp;All Casper limited warranties are not transferable.</p>

  <h4 id="c-caspers-limited-mattress-warranty-and-responsibilities">C. Casper's Limited Mattress Warranty and Responsibilities</h3>

  <p {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>Casper warrants the Mattress in its original packaging sold to you against the defects in material and workmanship set forth below (“<strong>Defects</strong>”) for a period of 10 years from the time your Mattress is purchased by you, when the Mattress is used normally for its intended purposes and on a bed base that is structurally capable of supporting the weight of the Mattress and user(s).</p>
  </section>
</div>
{% endmacro %}

{% macro numerals_large(font) %}
<h3 class="type-heading">Numerals (large) ({{ font }})</h3>
<div class="type-study">
  <section class="add-to-cart">
  <div class="add-to-cart-inner r-section-wrapper">
  <div class="form-actions"><div class="form-field form-field--price">
  <div class="form-input--price is-us js-add-to-cart-price-text" itemprop="price" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}><span class="currency-unit">$</span><span class="currency-value">850</span></div>
  </div><button data-button="accent" class="btn btn--accent btn--loading add-to-cart-button js-add-to-cart-button" name="button" type="submit">Add To Cart
  </button></div>
  </div>
  </section>
</div>
{% endmacro %}

{% macro numerals_medium(font) %}
<h3 class="type-heading">Numerals (medium) ({{ font }})</h3>
<div class="type-study">
  <div class="showroom-hours r-centered block">
  <h2>Walk-Ins Welcome</h2>
  <div class="body--sans" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>Mon 12pm-7pm</div>
  <div class="body--sans" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>Tues-Fri 10am-7pm</div>
  <div class="body--sans" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>Sat-Sun 10am-6pm</div>
  </div>
</div>
{% endmacro %}

{% macro numerals_small(font) %}
<h3 class="type-heading">Numerals (small) ({{ font }})</h3>
<div class="type-study r-centered">
  <div class="tech-specs-section-copy tech-specs-dimensions-table-section" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  <table class="tech-specs-table">
  <tbody><tr class="tech-specs-table-row">
  <th class="tech-specs-table-corner"></th>
  <th class="tech-specs-table-header">
  Flat Sheet <br>(W x L)
  </th>
  <th class="tech-specs-table-header">
  Fitted Sheet <br>(W x L x D)
  </th>
  <th class="tech-specs-table-header">
  Duvet Cover <br>(W x L)
  </th>
  </tr>
  <tr class="tech-specs-table-row">
  <td class="tech-specs-table-cell-size tech-specs-dimensions-title">
  Twin
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  66” X 96”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  39” X 75” X 14”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  68” X 86”
  </td>
  </tr>
  <tr class="tech-specs-table-row">
  <td class="tech-specs-table-cell-size tech-specs-dimensions-title">
  Twin XL
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  66” X 96”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  39” X 80” X 14”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  68” X 86”
  </td>
  </tr>
  <tr class="tech-specs-table-row">
  <td class="tech-specs-table-cell-size tech-specs-dimensions-title">
  Full
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  81” X 96”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  54” X 75” X 14”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  88” X 92”
  </td>
  </tr>
  <tr class="tech-specs-table-row">
  <td class="tech-specs-table-cell-size tech-specs-dimensions-title">
  Queen
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  94” X 108”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  60” X 80” X 14”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  88” X 92”
  </td>
  </tr>
  <tr class="tech-specs-table-row">
  <td class="tech-specs-table-cell-size tech-specs-dimensions-title">
  King
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  112” X 108”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  76” X 80” X 14”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  106” X 92”
  </td>
  </tr>
  <tr class="tech-specs-table-row">
  <td class="tech-specs-table-cell-size tech-specs-dimensions-title">
  Cal King
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  112” X 108”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  72” X 84” X 14”
  </td>
  <td class="tech-specs-dimensions-size tech-specs-table-cell">
  106” X 92”
  </td>
  </tr>
  </tbody></table>
  </div>
</div>
{% endmacro %}

{% macro link_sans(font) %}
<h3 class="type-heading">Link (sans-serif) ({{ font }})</h3>
<div class="type-study r-centered" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  <h3 class="product-specs-section-header">
  WARRANTY
  </h3>
  <div class="tech-specs-section-copy">
  1-year limited warranty.
  <a class="link tech-specs-link" href="/warranty#sheets" target="_blank">Read More</a>
  </div>
</div>
{% endmacro %}

{% macro link_serif(font) %}
<h3 class="type-heading">Link (serif) ({{ font }})</h3>
<div class="type-study r-centered add-to-cart">
  <div class="form-actions"><div class="form-field form-field--price">
  <div class="form-input--price is-us js-add-to-cart-price-text" itemprop="price"><span class="currency-unit">$</span><span class="currency-value">850</span></div>
  </div><button data-button="accent" class="btn btn--accent btn--loading add-to-cart-button js-add-to-cart-button" name="button" type="submit">Add To Cart
  </button></div>
  <div class="form-help">
  <a class="add-to-cart-financing-link" href="#" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>0% financing for $<span class="js-financing-amount">142</span>/month
  </a></div>
</div>
{% endmacro %}

{% macro form_field(font) %}
<h3 class="type-heading">Form Field ({{ font }})</h3>
<div class="type-study">
  <div class="form-fieldset form-fieldset--payment" data-hook="" id="payment">
  <div data-hook="checkout_payment_step">
  <ul class="form-field-group--gateways" data-hook="" id="payment-methods">
  <li class="form-payment-method form-payment-method-gateway js-form-payment-method-gateway" data-hook="" id="payment_method_2" style="display: list-item;">
  <div class="form-field">
  <label class="form-label" for="name_on_card_2">Name on card
  <abbr class="is-required">
  *
  </abbr>
</label><input {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %} autocomplete="cc-name" class="form-input required" id="name_on_card_2" name="payment_source[2][name]" tabindex="1" type="text" value="Jonathan Smith">
  </div>
  <div class="form-field" data-hook="card_number">
  <label class="form-label" for="card_number">Card Number
  <abbr class="is-required">
  *
  </abbr>
  <span class="card-type body--sans is-hidden -backdrop" id="js-card-type"></span>
</label><input {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %} autocomplete="cc-number" class="form-input js-form-input-card-number cardNumber required" id="card_number" inputmode="numeric" maxlength="19" name="payment_source[2][number]" pattern="d+" tabindex="1" type="text" value="4111 1111 1111 1111" x-inputmode="numeric">
  </div>
  <div class="form-field-group">
  <div class="form-field" data-hook="card_expiration">
  <label class="form-label" for="card_expiry">Expiration
  <abbr class="is-required">
  *
  </abbr>
</label><input {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %} autocomplete="cc-exp" class="required form-input js-form-input-expiry cardExpiry" id="card_expiry" name="payment_source[2][expiry]" placeholder="MM / YY" tabindex="1" type="text" value="10 / 18">
  </div>
  <div class="form-field" data-hook="card_code">
  <label class="form-label" for="card_code">Security Code
  <abbr class="is-required">
  *
  </abbr>
</label><input {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %} autocomplete="cc-csc" class="form-input js-form-input-cvv cardCode required" id="card_code" inputmode="numeric" maxlength="5" name="payment_source[2][verification_value]" pattern="\d*" tabindex="1" type="text" value="159" x-inputmode="numeric">
  <p><a class="form-help" data-hook="cvv_link" href="/content/cvv" id="cvv_link" target="_blank">What's this?</a></p>
  </div>
  </div>
  <input class="ccType" id="cc_type" name="payment_source[2][cc_type]" type="hidden" value="">
  <div class="form-field form-field-card-scan is-hidden" id="js-form-field-card-scan">
  <input autocomplate="off" class="js-form-input form-input" id="cardExpirationMonth" name="ios-expiry-month" type="text">
  <input autocomplete="off" class="js-form-input form-input" id="cardExpirationYear" name="ios-expiry-year" type="text">
  </div>

  </li>
  </ul>
  </div>
  </div>
</div>
{% endmacro %}
