{% extends "./studies.html" %}

{% macro paired_with_h3(font) %}
<h3 class="type-heading">Paired with H3 ({{ font }})</h3>
<div class="type-study r-centered">

  <ul class="js-sheets-infographic-gallery product-infographic-options sheets-infographic-options">
  <li class="product-infographic-option sheets-infographic-option sheets-infographic-option--flat-sheet">
  <h3 class="product-infographic-option-title sheets-infographic-option-title">
  FLAT SHEET
  </h3>
  <p class="body--sans-small product-infographic-option-copy sheets-infographic-option-copy" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  A classic cuff runs along both sides of the top edge, so you’ll always know which end is which. It’s also perfect for folding down and tucking in.
  </p>
  </li>
  <li class="product-infographic-option sheets-infographic-option sheets-infographic-option--fitted-sheet">
  <h3 class="product-infographic-option-title sheets-infographic-option-title">
  FITTED SHEET
  </h3>
  <p class="body--sans-small product-infographic-option-copy sheets-infographic-option-copy" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  With labels indicating the shorter ends, the fitted sheet is both easy to fold and place on the bed. It stays put with grippy elastic.
  </p>
  </li>
  <li class="product-infographic-option sheets-infographic-option sheets-infographic-option--pillowcases">
  <h3 class="product-infographic-option-title sheets-infographic-option-title">
  PILLOWCASES
  </h3>
  <p class="body--sans-small product-infographic-option-copy sheets-infographic-option-copy" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  The envelope closure keeps your pillow in place and out of sight. The breathable percale weave also keeps you cool through the night.
  </p>
  </li>
  <li class="product-infographic-option sheets-infographic-option sheets-infographic-option--duvet-cover">
  <h3 class="product-infographic-option-title sheets-infographic-option-title">
  DUVET COVER
  </h3>
  <p class="body--sans-small product-infographic-option-copy sheets-infographic-option-copy" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  With soft sheeting material on both sides, the duvet cover can be easily flipped. Even smarter, hidden openings offer easy access to the securing snaps in each corner.
  </p>
  </li>
  </ul>
</div>
{% endmacro %}

{% block type_study %}
    {% for font in fonts %}
      {{ paired_with_h3(font) }}
    {% endfor %}
{% endblock %}
