{% extends "./studies.html" %}

{% macro paired_with_h1(font) %}
<h3 class="type-heading">Paired with H1 ({{ font }})</h3>
<div class="type-study">
  <div class="design-value-prop--fibers-copy-block">
  <h1 class="-dark">Friendly Fibers</h1>
  <p class="body--sans design-value-prop-copy-paragraph" {% if font != 'Verlag' %}style="font-family: '{{ font }}'"{% endif %}>
  Ultimately, we determined the best solution was to fill our pillow with synthetic fibers, which are specifically engineered to suit a wide range of needs. They have properties that surpass down, they’re hypoallergenic, and they last longer than other fill types.
  </p>
  </div>
</div>
{% endmacro %}

{% block type_study %}
    {% for font in fonts %}
      {{ paired_with_h1(font) }}
    {% endfor %}
{% endblock %}
