{% extends "layout/_pattern_layout.html" %}

{% from 'nightshade-core/src/gallery/gallery.macros.html' import gallery, gallery_image %}
{% from 'nightshade-core/src/press_quote/quote.macros.html' import press_quote %}

{% set data = en.gallery %}

{% block pattern_content %}

  {% call gallery(autoplay=true) %}
    {{ press_quote('Gallery with autoplay and all controls', logo='press-nyt', class='gallery-slide') }}
    {{ press_quote('Second Quote', logo='press-nyt', class='gallery-slide') }}
    {{ press_quote('Third Quote', logo='press-nyt', class='gallery-slide') }}
  {% endcall %}

  {% call gallery(image_gallery=true, draggable=true) %}
    {{ gallery_image('showrooms/nyc/casper-nyc-showroom-bed.jpg?auto=format', image_description='Showroom Bed') }}
    {{ gallery_image('showrooms/nyc/casper-nyc-showroom-sofa.jpg?auto=format', image_description='Showroom Sofa') }}
    {{ gallery_image('showrooms/nyc/casper-nyc-showroom-table.jpg?auto=format', image_description='Showroom Table') }}
  {% endcall %}

{% endblock %}

{% block module_loader %}
  System.import('nightshade-core/src/gallery/Gallery.js').then( function(mod) {
    mod.Gallery.init();
  } );
{% endblock %}
