{% extends "layout/_pattern_layout.html" %}

{% from 'nightshade-core/src/gallery/gallery.macros.html' import gallery %}
{% from 'nightshade-core/src/press_quote/quote.macros.html' import press_quote %}

{% set page_title = 'Gallery' %}

{% block pattern_content %}

  {% call gallery(autoplay=true) %}
    {{ press_quote('Gallery with autoplay and all controls', logo='press-nyt', class='gallery-slide') }}
    {{ press_quote('Second Quote', logo='press-nyt', class='gallery-slide') }}
    {{ press_quote('Third Quote', logo='press-nyt', class='gallery-slide') }}
  {% endcall %}

  {% call gallery(autoplay=false, dots=false) %}
    {{ press_quote('Gallery without autoplay, and no dots', logo='press-nyt', class='gallery-slide') }}
    {{ press_quote('Second Quote', logo='press-nyt', class='gallery-slide') }}
    {{ press_quote('Third Quote', logo='press-nyt', class='gallery-slide') }}
  {% endcall %}

{% endblock %}

{% block inline_js %}
  System.import('nightshade-core/src/gallery/Gallery.js').then( function(mod) {
    mod.Gallery.init();
  } );
{% endblock %}
