{% extends "layout/_pattern_layout.html" %}

{% from 'nightshade-core/src/forms/forms.macros.html' import input_group, search_input %}

{% set data = en.forms %}

{% block pattern_content %}

  <h3>Input group with a text button</h3>
  {{ input_group(
    'basic-input-group',
    placeholder='Placeholder Text',
    button_content='Submit',
    button_style='secondary'
  ) }}

  <br>

  <h3>Search input group</h3>
  {{ search_input(
    'search-input',
    placeholder='Search Placeholder Text'
  ) }}

{% endblock %}
