{% extends "layout/_pattern_layout.html" %}

{% from 'nightshade-core/src/forms/forms.macros.html' import input_button %}

{% set page_title = 'Forms' %}

{% block pattern_content %}

  <h3>Input group with a text button</h3>
  {{ input_button(
    'button_one',
    input_placeholder='Placeholder Text',
    button_content='Submit'
  ) }}

  <br>

  <h3>Input with an icon button</h3>
  {{ input_button(
    'button_two',
    input_placeholder='Placeholder Text',
    button_style='ghost',
    button_icon='arrow'
  ) }}

{% endblock %}
