{% extends "./base.html" %}

{% from '../modules/buttons/buttons.html' import button %}

{% block title %}Colors | Nightshade{% endblock %}

{% block head_styles %}
<style>
  .color-swatches-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.85rem 0.85rem;
    text-align: left;
      font-size: 0.85em;
  }
  .color-swatches-swatch {
    width: 140px;
    height: 140px;
    margin-bottom: 0.5rem;
  }
  .color-swatches-name,
  .color-swatches-hex,
  .color-swatches-cmyk {
    display: block;
  }
</style>
{% endblock %}

{% macro color_swatch(name, hex, cmyk) %}
<div class="color-swatches-item">
  <div class="color-swatches-swatch" style="background-color: {{ hex }}"></div>
  <code class="color-swatches-name">{{ name }}</code>
  <code class="color-swatches-hex">{{ hex }}</code>
  <code class="color-swatches-cmyk">{{ cmyk }}</code>
</div>
{% endmacro %}

{% block body_content %}
<div class="r-section-wrapper r-inner r-centered">
  {{ button('< Back', 'simple', 'small', 'link', href='/', class='btn-back') }}
  {{ button('Background', 'simple', 'small', class='toggle-background', id='toggle-background') }}

  <h2>Colors</h2>
  <div class="color-swatches">
    {{ color_swatch('primary', '#00237e', '100, 94, 20, 12') }}
    {{ color_swatch('primary-dark', '#001856', '0, 0, 0, 0') }}
    {{ color_swatch('secondary', '#5fe6be', '100, 94, 20, 12') }}
    {{ color_swatch('accent', '#ec5446', '0, 0, 0, 0') }}
    {{ color_swatch('background', '#ffffff', '0, 0, 0, 0') }}
    {{ color_swatch('light-background', '#f5f5f5', '0, 0, 0, 0') }}
  </div>

</div>
{% endblock%}
