{% extends './base.html' %}

{% from 'buttons/buttons.html' import button %}

{% block title %}Icons | Nightshade{% endblock %}

{% block head_styles %}
{% endblock %}


{% block body_content %}
<div class="r-section-wrapper r-inner">
  {{ button('< Back', 'simple', 'small', 'link', href='/', class='btn-back') }}

  <h2>Icons</h2>
  <section id="icons-content"></section>
</div>
{% endblock%}

{% block module_loader %}
  System.import('modules/icons/IconsPage.js').then( function(mod){
    mod.IconsPage.init();
  } );
{% endblock %}


