{% extends './base.html' %}

{% from '../modules/icons/icons.html' import icon %}
{% from '../modules/buttons/buttons.html' import button %}


{% block title %}Icons | Nightshade{% endblock %}

{% block head_styles %}
{% endblock %}


{% block body_content %}
<div class="r-section-wrapper r-inner">
  {{ button('< Back', 'simple', 'small', 'link', href='/', class='btn-back') }}

  <section id="icons"></section>
</div>
{% endblock%}

{% block module_loader %}
  System.import('assets/js/pages/IconsPage.js').then( function(mod){
    mod.IconsPage.init();
  } );
{% endblock %}
