{% extends "./base.html" %}

{% block title %}Nightshade{% endblock %}

{% block body_content %}
<div class="r-section-wrapper r-inner">
  <h3 class="section-heading">Components</h3>
  <nav class="nav--study">
    <a class="nav-link" href="colors.html">Colors</a><br>
    <a class="nav-link" href="buttons.html">Buttons</a><br>
    <a class="nav-link" href="icons.html">Icons</a>
  </nav>
  <h3 class="section-heading">Type Studies</h3>
  <nav class="nav--study">
    <a class="nav-link" href="studies/homepage.html">Homepage Modules</a><br>
    <a class="nav-link" href="studies/purchase.html">Purchase Modules</a><br>
    <a class="nav-link" href="studies/headings-copy.html">Headings and Copy</a><br>
    <a class="nav-link" href="studies/numerals.html">Numerals</a><br>
    <a class="nav-link" href="studies/links.html">Links</a><br>
    <a class="nav-link" href="studies/form-field.html">Form Field</a>
  </nav>
</div>
{% endblock %}
