{% extends "./base.html" %}

{% block body_content %}
<div class="r-section-wrapper r-inner">
  <h3>Type Studies</h3>
  <nav>
    <a class="nav-link" href="studies/homepage-module.html">Homepage Module</a><br>
    <a class="nav-link" href="studies/homepage-video-callout.html">Homepage Video Callout</a><br>
    <a class="nav-link" href="studies/purchase-module.html">Purchase Module</a><br>
    <a class="nav-link" href="studies/paired-with-h1.html">Paired with H1</a><br>
    <a class="nav-link" href="studies/paired-with-h2.html">Paired with H2</a><br>
    <a class="nav-link" href="studies/paired-with-h3.html">Paired with H3</a><br>
    <a class="nav-link" href="studies/paired-with-body-serif.html">Paired with Body Serif</a><br>
    <a class="nav-link" href="studies/full-width.html">Full Width</a><br>
    <a class="nav-link" href="studies/numerals-large.html">Numerals (large)</a><br>
    <a class="nav-link" href="studies/numerals-medium.html">Numerals (medium)</a><br>
    <a class="nav-link" href="studies/numerals-small.html">Numerals (small)</a><br>
    <a class="nav-link" href="studies/link-sans.html">Link (sans-serif)</a><br>
    <a class="nav-link" href="studies/link-serif.html">Link (serif)</a><br>
    <a class="nav-link" href="studies/form-field.html">Form Field</a>
  </nav>
</div>
{% endblock %}
