{% extends "base.html" %}

{% from 'nightshade-styles/modules/buttons/macros.html' import button %}

{% block title %}{{ pattern_name }} | Nightshade{% endblock %}

{% block body_content %}
<div class="r-section-wrapper {{ wrapper_classes }}">
  {% include "layout/_nav-buttons.html" %}

  {% block pattern_content %}{% endblock %}

</div>
{% endblock %}

{% block inline_js %}
  document.getElementById('toggle-background').addEventListener('click', function() {
    document.documentElement.classList.toggle('background-gray');
  });
{% endblock %}
