{% extends "./base.html" %}

{% from '../modules/buttons/buttons.html' import button %}
{% from '../modules/popovers/popovers.html' import popover %}

{% block title %}Popovers | Nightshade{% endblock %}

{% block head_styles %}
<style>
  .popover-example {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 3em 0;
  }
  .popover-toggle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #666;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
  }
</style>
{% endblock %}

{% block body_content %}
<div class="r-section-wrapper r-centered">
  {{ button('< Back', 'simple', 'small', 'link', href='/', class='btn-back') }}
  {{ button('Background', 'simple', 'small', class='toggle-background', id='toggle-background') }}

  <h2>Popovers</h2>
  <div class="popover-example">
    Top
    <span class="popover-container js-popover-container">
      <span class="popover-toggle js-popover-toggle">?</span>
      {{ popover('top', 'Density refers to the amount of material per cubic foot. High-density materials are more durable.', 'js-popover') }}
    </span>
  </div>
  <div class="popover-example">
    Right
    <span class="popover-container js-popover-container">
      <span class="popover-toggle js-popover-toggle">?</span>
      {{ popover('right', 'Density refers to the amount of material per cubic foot. High-density materials are more durable.', 'js-popover') }}
    </span>
  </div>
  <div class="popover-example">
    Bottom
    <span class="popover-container js-popover-container">
      <span class="popover-toggle js-popover-toggle">?</span>
      {{ popover('bottom', 'Density refers to the amount of material per cubic foot. High-density materials are more durable.', 'js-popover') }}
    </span>
  </div>
  <div class="popover-example">
    Left
    <span class="popover-container js-popover-container">
      <span class="popover-toggle js-popover-toggle">?</span>
      {{ popover('left', 'Density refers to the amount of material per cubic foot. High-density materials are more durable.', 'js-popover') }}
    </span>
  </div>

</div>
{% endblock%}

{% block module_loader %}
  System.import('modules/popovers/PopoversPage.js').then( function(mod){
    mod.PopoversPage.init();
  } );
{% endblock %}
