{% extends "./base.html" %}

{% block head_styles %}
<link href="/dist/assets/css/fonts.css" media="screen" rel="stylesheet">
<link href="/dist/assets/css/type.css" media="screen" rel="stylesheet">
{% endblock %}

{% set fonts = ['Verlag', 'Calibre Light', 'Apercu Light', Avenir Next Regular', 'Brandon Light', , 'Nobel Light'] %}

{% block body_content %}
<div class="r-section-wrapper r-inner">
  <nav class="type-nav"><a href="/">< Back</a></nav>

  {% block type_study %}{% endblock %}

</div>
{% endblock%}
